// out: access.css
@import "../Components/*";
/* ---------------------------- */
/* --- MainSection --- */
/* ---------------------------- */
.MainSection.Page
  padding-top 190px
  padding-bottom 130px
  background: #FEEFF2
  @media SP
    padding-top 115px
    padding-left 24px
    padding-right 24px
    padding-bottom 70px

/* ---------------------------- */
/* --- AccessSection --- */
/* ---------------------------- */
.AccessSection
  margin-left: auto
  margin-right: auto
  padding-top 60px
  padding-bottom 90px
  max-width: 1040px
  width 100%
  background: #FFFAFB
  border-top: 2px solid #52453C
  border-bottom: 2px solid #52453C
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  @media SP
    padding-top 30px
    padding-left: 16px
    padding-right: 16px
    padding-bottom 60px
.Access
  &-Inner
    margin-left: auto;
    margin-right: auto;
    max-width: 720px
    &-Headline
      margin-left: auto;
      margin-right: auto;
      max-width: 166px
    &-Text
      margin-top 48px
      text-align: center
      color: #5B4F46
      font-size: 14px
      @media SP
        font-size: 12px
    &-Map
      margin-top 10px
      position: relative
      width: 100%
      height: 0
      padding-top: 51.94%
      @media SP
        padding-top 52%
      &-Iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
    &-Route
      margin-top: 48px;
      margin-left: auto;
      margin-right: auto;
      @media SP
        margin-top 72px
      &-Headline
        border-bottom: 1px solid #E8A5C6
        padding-bottom 10px
        color: #938252
        font-size: 24px
      &-Card
        margin-top 36px
        display: flex
        flex-wrap: wrap
        &-Item
          display: flex
          flex-direction: column
          flex-wrap: wrap
          width: calc((100% - 40px) / 2)
          @media SP
            width 100%
          &:nth-child(even)
            margin-left 40px
            @media SP
              margin-top 45px
              margin-left 0
          &:nth-child(n+3)
            margin-top: 36px
            @media SP
              margin-top 0
          &:nth-child(n+2)
            @media SP
              margin-top 32px
          &-Headline
            max-width: 301px
            height 30px
            &.step01
              max-width: 257px
              @media SP
                max-width: 229px
            &.step02
              max-width: 235px
              @media SP
                max-width: 209px
            &.step03
              @media SP
                max-width: 269px
            &.step04
              max-width: 278px
              @media SP
                max-width: 248px
            &.step05
              @media SP
                max-width: 269px
          &-ImgBox
            margin-top 12px
            width 100%
            &-Img
              padding-top 52%
              width: 100%
          &-Text
            margin-top 10px
            line-height: 18px
            color: #5B4F46
            font-size: 12px
            &.lhnone
              line-height: inherit
              @media SP
                line-height: 18px
            &-Span
              color: #D96EA3
