@font-face {
  font-family: 'aamono';
  src: url("../../font/Aamonoline.ttf") format('truetype');
}
@font-face {
  font-family: 'din';
  src: url("../../font/din1451alt.ttf") format('truetype');
}
@font-face {
  font-family: 'bodoni';
  src: url("../../font/BodoniOldFaceBESmallCapsRegular.otf") format('truetype');
}
.BorderLayer {
  width: 100%;
  height: 5px;
  background: #52453c;
}
@media screen and (max-width: 540px) {
  .BorderLayer {
    height: 2px;
  }
}
.FooterSection {
  position: relative;
  background: #fff;
}
@media screen and (max-width: 1158px) {
  .FooterSection {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 540px) {
  .FooterSection {
    padding-bottom: 54px;
  }
}
.Footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 540px) {
  .Footer {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
.Footer-Inner {
  max-width: 1114px;
  margin-left: auto;
  margin-right: auto;
}
.Footer-Inner-List {
  display: flex;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List {
    flex-wrap: wrap;
  }
}
.Footer-Inner-List-Item {
  margin-left: 0;
  width: calc((100% - 30px * 3) / 4);
}
.Footer-Inner-List-Item:nth-child(1) {
  border-right: 1px solid #959595;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item:nth-child(1) {
    border-right: none;
    width: 100%;
  }
}
.Footer-Inner-List-Item:nth-child(2) {
  border-right: 1px solid #959595;
  margin-left: 30px;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item:nth-child(2) {
    display: none;
  }
}
.Footer-Inner-List-Item:nth-child(3) {
  border-right: 1px solid #959595;
  margin-left: 30px;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item:nth-child(3) {
    border-right: none;
    margin-left: 0;
  }
}
.Footer-Inner-List-Item:nth-child(4) {
  margin-left: 30px;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item:nth-child(4) {
    margin-left: 0;
  }
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item.flex {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 227px;
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item.onecolumn {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }
}
.Footer-Inner-List-Item-ImgBox {
  max-width: 208px;
}
@media screen and (max-width: 845px) {
  .Footer-Inner-List-Item-ImgBox {
    max-width: 126px;
  }
}
.Footer-Inner-List-Item-Text {
  letter-spacing: 0.1em;
  color: #959595;
  font-weight: bold;
  font-size: 14px;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text {
    color: #52453c;
    font-size: 12px;
  }
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text.w100 {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text.w25 {
    width: 25%;
    text-align: center;
  }
}
.Footer-Inner-List-Item-Text:nth-child(n+2) {
  margin-top: 25px;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text:nth-child(n+2) {
    margin-top: 12px;
  }
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text.mt20 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text.tl {
    text-align: left;
  }
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text.tc {
    text-align: center;
  }
}
.Footer-Inner-List-Item-Text-Link:hover {
  cursor: pointer;
}
.Footer-Inner-List-Item-Text-Link-Span {
  display: none;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text-Link-Span {
    display: inline-block;
  }
}
.Footer-Inner-List-Item-Text-LinkBtn {
  position: relative;
  border: 1px solid #707070;
  width: 175px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
@media screen and (max-width: 845px) {
  .Footer-Inner-List-Item-Text-LinkBtn {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text-LinkBtn {
    display: none;
  }
}
.Footer-Inner-List-Item-Text-LinkBtn:hover {
  cursor: pointer;
}
.Footer-Inner-List-Item-Text-LinkBtn::after {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(-50%, -50%);
  content: '';
  width: 6px;
  height: 12px;
  background: url("../../images/footer-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.Footer-Inner-List-Action {
  display: none;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Action {
    margin-top: 16px;
    display: flex;
    width: 100%;
  }
}
.Footer-Inner-List-Action-Right {
  border-radius: 8px;
  width: calc((100% - 10px) / 2);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #e91b7b;
}
.Footer-Inner-List-Action-Right-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.Footer-Inner-List-Action-Right-Box-IconBox {
  margin-right: 8px;
  max-width: 24px;
}
.Footer-Inner-List-Action-Right-Box-Text {
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.Footer-Inner-List-Action-Left {
  border-radius: 8px;
  margin-left: 10px;
  width: calc((100% - 10px) / 2);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #00b215;
}
.Footer-Inner-List-Action-Left-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.Footer-Inner-List-Action-Left-Box-IconBox {
  margin-right: 8px;
  max-width: 24px;
}
.Footer-Inner-List-Action-Left-Box-Text {
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.CTASection {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  background: #fff;
  display: none;
  border-top: 1px solid #eee;
  z-index: 10;
}
@media screen and (max-width: 540px) {
  .CTASection {
    display: block;
  }
}
.CTA-Inner {
  margin-left: auto;
  margin-right: auto;
}
.CTA-Inner-List {
  display: flex;
}
@media screen and (max-width: 540px) {
  .CTA-Inner-List {
    flex-wrap: wrap;
  }
}
.CTA-Inner-List-Item {
  display: flex;
  width: 100%;
}
.CTA-Inner-List-Item-Right {
  border-radius: 8px;
  width: calc((100% - 16px) / 3);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #e91b7b;
}
.CTA-Inner-List-Item-Right-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.CTA-Inner-List-Item-Right-Box-IconBox {
  margin-right: 8px;
  max-width: 24px;
}
.CTA-Inner-List-Item-Right-Box-Text {
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.CTA-Inner-List-Item-Center {
  border-radius: 8px;
  margin-left: 8px;
  width: calc((100% - 16px) / 3);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #e91b7b;
}
.CTA-Inner-List-Item-Center-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.CTA-Inner-List-Item-Center-Box-IconBox {
  margin-right: 8px;
  max-width: 24px;
}
.CTA-Inner-List-Item-Center-Box-Text {
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.CTA-Inner-List-Item-Left {
  border-radius: 8px;
  margin-left: 8px;
  width: calc((100% - 16px) / 3);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #00b215;
}
.CTA-Inner-List-Item-Left-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.CTA-Inner-List-Item-Left-Box-IconBox {
  margin-right: 8px;
  max-width: 24px;
}
.CTA-Inner-List-Item-Left-Box-Text {
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.CopyRightLayer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #52453c;
  color: #fff;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 13px;
}
.HeaderLayer {
  position: fixed;
  top: 44px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  z-index: 100000;
}
@media screen and (max-width: 540px) {
  .HeaderLayer {
    top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.Header {
  width: 100%;
}
.Header-Inner-Info {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background: #feeff2;
  color: #e91b7b;
  font-size: 14px;
}
.Header-Inner-Content {
  display: flex;
  flex-wrap: nowrap;
}
.Header-Inner-Content-Left {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 30px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #fff;
}
@media screen and (max-width: 540px) {
  .Header-Inner-Content-Left {
    border-radius: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
.Header-Inner-Content-Left-ImgBox {
  padding-top: 11px;
  padding-bottom: 11px;
  max-width: 137px;
}
@media screen and (max-width: 540px) {
  .Header-Inner-Content-Left-ImgBox {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 123px;
  }
}
.Header-Inner-Content-Left-ItemMain {
  margin-left: 30px;
  padding-left: 45px;
  border-right: 1px solid #c3c3c3;
  padding-top: 11px;
  padding-bottom: 11px;
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1436px) {
  .Header-Inner-Content-Left-ItemMain {
    margin-left: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 540px) {
  .Header-Inner-Content-Left-ItemMain {
    display: none;
  }
}
.Header-Inner-Content-Left-ItemMain-Item {
  padding-right: 30px;
  font-size: 14px;
}
@media screen and (max-width: 1436px) {
  .Header-Inner-Content-Left-ItemMain-Item {
    padding-right: 20px;
    font-size: 12px;
  }
}
.Header-Inner-Content-Left-Hm {
  display: none;
  margin-left: auto;
}
@media screen and (max-width: 540px) {
  .Header-Inner-Content-Left-Hm {
    display: block;
  }
}
.Header-Inner-Content-Left-Hm-Link {
  position: relative;
  width: 28px;
  height: 24px;
  z-index: 100002;
}
.Header-Inner-Content-Left-Hm-Link-Span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #51443b;
}
.Header-Inner-Content-Left-Hm-Link-Span:nth-child(1) {
  top: 0;
}
.Header-Inner-Content-Left-Hm-Link-Span:nth-child(2) {
  top: 10px;
}
.Header-Inner-Content-Left-Hm-Link-Span:nth-child(3) {
  bottom: 0;
}
.Header-Inner-Content-Left-ItemSub {
  margin-left: 30px;
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1436px) {
  .Header-Inner-Content-Left-ItemSub {
    margin-left: 20px;
  }
}
@media screen and (max-width: 540px) {
  .Header-Inner-Content-Left-ItemSub {
    display: none;
  }
}
.Header-Inner-Content-Left-ItemSub-Item {
  letter-spacing: 0.3em;
  font-size: 14px;
}
@media screen and (max-width: 1436px) {
  .Header-Inner-Content-Left-ItemSub-Item {
    font-size: 12px;
  }
}
.Header-Inner-Content-Left-ItemSub-Item:nth-child(1) {
  padding-right: 30px;
}
@media screen and (max-width: 1436px) {
  .Header-Inner-Content-Left-ItemSub-Item:nth-child(1) {
    padding-right: 20px;
  }
}
.Header-Inner-Content-Right {
  margin-left: 6px;
  border-radius: 8px;
  width: 207px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #da75a7;
}
@media screen and (max-width: 1436px) {
  .Header-Inner-Content-Right {
    width: 168px;
  }
}
@media screen and (max-width: 540px) {
  .Header-Inner-Content-Right {
    display: none;
  }
}
.Header-Inner-Content-Right:hover {
  cursor: pointer;
}
.Header-Inner-Content-Right-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.Header-Inner-Content-Right-Box-IconBox {
  margin-right: 8px;
  max-width: 30px;
}
.Header-Inner-Content-Right-Box-Text {
  line-height: 1.8;
  letter-spacing: 0.1em;
  color: #fff;
  font-size: 12px;
}
.Info-Inner {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
.Info-Inner-Text {
  text-align: right;
  color: #e91b7b;
  font-size: 14px;
}
.MenuLayer {
  position: fixed;
  top: 0;
  transition: opacity 0.65s;
  width: 100%;
  height: 100vh;
  background: #feeff2;
  z-index: 100001;
}
.MenuLayer.isShow {
  opacity: 1;
  transition: opacity 0.65s;
  pointer-events: auto;
}
.MenuLayer.isHidden {
  opacity: 0;
  pointer-events: none;
}
.Menu {
  width: 100%;
  height: 100%;
}
.Menu-Head {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  background: #fff;
}
.Menu-Head-Head-ImgBox {
  max-width: 123px;
}
.Menu-Head-MenuIcon {
  position: relative;
  margin-left: auto;
  width: 28px;
  height: 21px;
}
.Menu-Head-MenuIcon-Span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #51443b;
}
.Menu-Head-MenuIcon-Span:nth-child(1) {
  top: 0;
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
}
.Menu-Head-MenuIcon-Span:nth-child(2) {
  opacity: 0;
}
.Menu-Head-MenuIcon-Span:nth-child(3) {
  bottom: 0;
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
}
.Menu-Inner {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
}
.Menu-Inner-List {
  margin-top: 24px;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
}
.Menu-Inner-List-Item {
  border-bottom: 1px solid #52453c;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: #52453c;
}
.Menu-Inner-List-Item:nth-child(n+2) {
  margin-top: 20px;
}
.Menu-Inner-List-Item:after {
  display: inline-block;
  margin-left: auto;
  content: '';
  width: 6px;
  height: 12px;
  background: url("../../images/menu-arrow.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}
@media screen and (max-width: 540px) {
  .Menu-Inner-Action {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
.Menu-Inner-Action-Right {
  border-radius: 8px;
  width: calc((100% - 10px) / 2);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #e91b7b;
}
.Menu-Inner-Action-Right-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.Menu-Inner-Action-Right-Box-IconBox {
  margin-right: 8px;
  max-width: 24px;
}
.Menu-Inner-Action-Right-Box-Text {
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.Menu-Inner-Action-Left {
  border-radius: 8px;
  margin-left: 10px;
  width: calc((100% - 10px) / 2);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #00b215;
}
.Menu-Inner-Action-Left.tel {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #e91b7b;
}
.Menu-Inner-Action-Left-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.Menu-Inner-Action-Left-Box-IconBox {
  margin-right: 8px;
  max-width: 24px;
}
.Menu-Inner-Action-Left-Box-Text {
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.Menu-Inner-LoginAction {
  margin-top: 25px;
  margin-left: auto;
  max-width: 156px;
  text-align: right;
  font-size: 14px;
}
.Menu-Inner-LoginAction:after {
  content: '';
  display: block;
  margin-top: 6px;
  width: 100%;
  height: 1px;
  background: #52453c;
}
/* ---------------------------- */
/* --- MainSection --- */
/* ---------------------------- */
.MainSection.Page {
  padding-top: 190px;
  padding-bottom: 130px;
  background: #feeff2;
}
@media screen and (max-width: 540px) {
  .MainSection.Page {
    padding-top: 115px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 70px;
  }
}
/* ---------------------------- */
/* --- AccessSection --- */
/* ---------------------------- */
.AccessSection {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 90px;
  max-width: 1040px;
  width: 100%;
  background: #fffafb;
  border-top: 2px solid #52453c;
  border-bottom: 2px solid #52453c;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
@media screen and (max-width: 540px) {
  .AccessSection {
    padding-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 60px;
  }
}
.Access-Inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
.Access-Inner-Headline {
  margin-left: auto;
  margin-right: auto;
  max-width: 166px;
}
.Access-Inner-Text {
  margin-top: 48px;
  text-align: center;
  color: #5b4f46;
  font-size: 14px;
}
@media screen and (max-width: 540px) {
  .Access-Inner-Text {
    font-size: 12px;
  }
}
.Access-Inner-Map {
  margin-top: 10px;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 51.94%;
}
@media screen and (max-width: 540px) {
  .Access-Inner-Map {
    padding-top: 52%;
  }
}
.Access-Inner-Map-Iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Access-Inner-Route {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 540px) {
  .Access-Inner-Route {
    margin-top: 72px;
  }
}
.Access-Inner-Route-Headline {
  border-bottom: 1px solid #e8a5c6;
  padding-bottom: 10px;
  color: #938252;
  font-size: 24px;
}
.Access-Inner-Route-Card {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
}
.Access-Inner-Route-Card-Item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc((100% - 40px) / 2);
}
@media screen and (max-width: 540px) {
  .Access-Inner-Route-Card-Item {
    width: 100%;
  }
}
.Access-Inner-Route-Card-Item:nth-child(even) {
  margin-left: 40px;
}
@media screen and (max-width: 540px) {
  .Access-Inner-Route-Card-Item:nth-child(even) {
    margin-top: 45px;
    margin-left: 0;
  }
}
.Access-Inner-Route-Card-Item:nth-child(n+3) {
  margin-top: 36px;
}
@media screen and (max-width: 540px) {
  .Access-Inner-Route-Card-Item:nth-child(n+3) {
    margin-top: 0;
  }
}
@media screen and (max-width: 540px) {
  .Access-Inner-Route-Card-Item:nth-child(n+2) {
    margin-top: 32px;
  }
}
.Access-Inner-Route-Card-Item-Headline {
  max-width: 301px;
  height: 30px;
}
.Access-Inner-Route-Card-Item-Headline.step01 {
  max-width: 257px;
}
@media screen and (max-width: 540px) {
  .Access-Inner-Route-Card-Item-Headline.step01 {
    max-width: 229px;
  }
}
.Access-Inner-Route-Card-Item-Headline.step02 {
  max-width: 235px;
}
@media screen and (max-width: 540px) {
  .Access-Inner-Route-Card-Item-Headline.step02 {
    max-width: 209px;
  }
}
@media screen and (max-width: 540px) {
  .Access-Inner-Route-Card-Item-Headline.step03 {
    max-width: 269px;
  }
}
.Access-Inner-Route-Card-Item-Headline.step04 {
  max-width: 278px;
}
@media screen and (max-width: 540px) {
  .Access-Inner-Route-Card-Item-Headline.step04 {
    max-width: 248px;
  }
}
@media screen and (max-width: 540px) {
  .Access-Inner-Route-Card-Item-Headline.step05 {
    max-width: 269px;
  }
}
.Access-Inner-Route-Card-Item-ImgBox {
  margin-top: 12px;
  width: 100%;
}
.Access-Inner-Route-Card-Item-ImgBox-Img {
  padding-top: 52%;
  width: 100%;
}
.Access-Inner-Route-Card-Item-Text {
  margin-top: 10px;
  line-height: 18px;
  color: #5b4f46;
  font-size: 12px;
}
.Access-Inner-Route-Card-Item-Text.lhnone {
  line-height: inherit;
}
@media screen and (max-width: 540px) {
  .Access-Inner-Route-Card-Item-Text.lhnone {
    line-height: 18px;
  }
}
.Access-Inner-Route-Card-Item-Text-Span {
  color: #d96ea3;
}
