// out: area.css
@import "../Components/*";
/* ---------------------------- */
/* --- MainSection --- */
/* ---------------------------- */
.MainSection.Page
  padding-top 190px
  padding-bottom 130px
  background: #FEEFF2
  @media SP
    padding-top 115px
    padding-left 24px
    padding-right 24px
    padding-bottom 70px

/* ---------------------------- */
/* --- AreaSection --- */
/* ---------------------------- */
.AreaSection
  margin-left: auto
  margin-right: auto
  padding-top 60px
  padding-bottom 90px
  max-width: 1040px
  width 100%
  background: #FFFAFB
  border-top: 2px solid #52453C
  border-bottom: 2px solid #52453C
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  @media SP
    padding-top 30px
    padding-left: 30px
    padding-right: 30px
    padding-bottom 60px
.Area
  &-Inner
    margin-left: auto;
    margin-right: auto;
    max-width: 720px
    &-Headline
      margin-left: auto;
      margin-right: auto;
      max-width: 116px
      @media SP
        max-width: 98px
    &-Keyword
      margin-top 60px
      @media SP
        margin-top 45px
      &-Headline
        letter-spacing: 0.28em
        line-height: 16px
        color: #51443C
        font-size: 18px
        @media SP
          font-size: 14px
      &-Box
        position: relative
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        @media SP
          margin-top 20px
        &-SearchInput
          border-radius: 4px;
          border: none;
          width 100%
          height: 55px;
          letter-spacing: 0.1em;
          padding-left: 20px;
          padding-right 55px
          background: #fff;
          color: #5b4f46;
          font-size: 14px;
          @media SP
            height 45px
            padding-right 45px
            font-size: 12px
        &-Btn
          position: absolute;
          top: 0;
          right: 0;
          width: 55px;
          height: 55px;
          line-height: 55px;
          padding: 0;
          border: none;
          border-radius: 0 4px 4px 0;
          background: #52453C
          vertical-align: middle;
          @media SP
            width 45px
            height 45px
            line-height: 45px
          &-Icon
            margin-left: auto
            margin-right: auto
            width 19px
            height 19px
    &-PF
      margin-top 60px
      @media SP
        margin-top 45px
      &-Headline
        letter-spacing: 0.28em
        line-height: 16px
        color: #51443C
        font-size: 18px
        @media SP
          font-size: 14px
      &-SPBox
        margin-top 20px
        margin-left: auto;
        margin-right: auto;
        display: none;
        flex-wrap: wrap;
        @media SP
          display: flex
        &-Item
          width 100%
          flex-wrap: wrap
          &:nth-child(n+2)
            margin-top 12px
          &-Tab
            position: relative
            width 100%
            height: 63px
            display: flex
            justify-content: center;
            align-items: center;
            letter-spacing: 0.28em
            background: #fff
            color: #53463D
            cursor: pointer
            font-size: 13px
            &:before
              content: '';
              position: absolute;
              top: 50%;
              right: 10px;
              background-image: url(../../images/area-arrow-icon.png);
              background-position: center;
              background-size: cover;
              width: 11px;
              height: 3px;
              display: block;
            &-Wrap
              &-TitleBox
                text-align: center
              &-CountBox
                margin-top 2px
                text-align: center
          &-Sub
            width 100%
            display: none
            &-Item
              border-bottom: 1px solid #DBDBDB
              width: 100%
              height: 63px
              display: flex
              justify-content: center;
              align-items: center;
              letter-spacing: 0.28em
              background: #F8F8F8
              color: #53463D
              font-size: 13px
              cursor: pointer
              &:last-child
                border-bottom: none
              &-Wrap
                &-TitleBox
                  text-align: center
                &-CountBox
                  margin-top 2px
                  text-align: center
      &-Box
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        @media SP
          margin-top 20px
          display: none
        &-Item
          position: relative
          margin-left: 12px
          width: calc((100% - 12px * 3) / 4)
          height: 63px
          display: flex
          justify-content: center;
          align-items: center;
          letter-spacing: 0.28em
          background: #fff
          color: #53463D
          font-size: 15px
          cursor: pointer
          @media SP
            margin-left 0
            width 100%
            font-size: 13px
          &:nth-child(1)
            margin-left: 0
          &:nth-child(n+2)
            @media SP
              margin-top 12px
          &:nth-child(5)
            margin-left: 0
          &:nth-child(n+5)
            margin-top 12px
          &:before
            content: '';
            position: absolute;
            top: 50%;
            right: 10px;
            background-image: url(../../images/area-arrow-icon.png);
            background-position: center;
            background-size: cover;
            width: 11px;
            height: 3px;
            display: block;
          &-Wrap
            &-TitleBox
              text-align: center
            &-CountBox
              margin-top 2px
              text-align: center
          &-Sub
            position: absolute;
            top: 55px
            width 100%
            z-index: 1
            opacity: 0;
            transition: opacity 0.65s;
            pointer-events: none;
            &.isShow
              opacity: 1;
              transition: opacity 0.65s;
              pointer-events: auto;
            &-Item
              border-bottom: 1px solid #DBDBDB
              width: 100%
              height: 63px
              display: flex
              justify-content: center;
              align-items: center;
              letter-spacing: 0.28em
              background: #F8F8F8
              color: #53463D
              font-size: 15px
              cursor: pointer
              &:last-child
                border-bottom: none
              &:hover
                background: #53463D
                color: #fff
              &-Wrap
                &-TitleBox
                  text-align: center
                &-CountBox
                  margin-top 2px
                  text-align: center

    &-Zone
      margin-top 60px
      @media SP
        margin-top 45px
      &-Headline
        letter-spacing: 0.28em
        line-height: 16px
        color: #51443C
        font-size: 18px
        @media SP
          font-size: 14px
      &-SPBox
        margin-top 20px
        flex-wrap: wrap;
        display: none;
        @media SP
          display: flex
        &-Item
          width 100%
          &:nth-child(n+2)
            margin-top 12px
          &-Tab
            position: relative
            width 100%
            height: 63px
            display: flex
            justify-content: center;
            align-items: center;
            letter-spacing: 0.28em
            background: #fff
            color: #53463D
            cursor: pointer
            font-size: 13px
            &:before
              content: '';
              position: absolute;
              top: 50%;
              right: 10px;
              background-image: url(../../images/area-arrow-icon.png);
              background-position: center;
              background-size: cover;
              width: 11px;
              height: 3px;
              display: block;
            &.isActive
              background: #53463D
              color: #fff
            &.isActive:before
              content: '';
              position: absolute;
              top: 50%;
              right: 10px;
              background-image: url(../../images/area-arrow-icon-active.png);
              background-position: center;
              background-size: cover;
              width: 11px;
              height: 3px;
              display: block;
            &-Wrap
              &-TitleBox
                text-align: center
              &-CountBox
                margin-top 2px
                text-align: center
          &-TabBox
            padding-top 20px
            padding-bottom 20px
            background: #fff
            display: none
            &-List
              margin-left: auto;
              margin-right: auto;
              padding-left: 15.21%;
              padding-right: 15.21%;
              max-width: 646px
              display: flex
              flex-wrap: wrap
              &-Item
                margin-right 25px
                color: #53463D
                font-size: 14px
                &:nth-child(n+2)
                  margin-top 15px
      &-Box
        margin-top: 15px;
        display: flex;
        @media SP
          margin-top 20px
          flex-wrap: wrap;
          display: none
        &-Item
          position: relative
          margin-left: 12px
          width: calc((100% - 12px * 3) / 4)
          height: 63px
          display: flex
          justify-content: center;
          align-items: center;
          letter-spacing: 0.28em
          background: #fff
          color: #53463D
          font-size: 15px
          cursor: pointer
          @media SP
            margin-left 0
            width 100%
            font-size: 13px
          &:nth-child(1)
            margin-left: 0
          &:nth-child(n+2)
            @media SP
              margin-top 12px
          &:before
            content: '';
            position: absolute;
            top: 50%;
            right: 10px;
            background-image: url(../../images/area-arrow-icon.png);
            background-position: center;
            background-size: cover;
            width: 11px;
            height: 3px;
            display: block;
          &.isActive
            background: #53463D
            color: #fff
          &.isActive:before
            content: '';
            position: absolute;
            top: 50%;
            right: 10px;
            background-image: url(../../images/area-arrow-icon-active.png);
            background-position: center;
            background-size: cover;
            width: 11px;
            height: 3px;
            display: block;
          &-Wrap
            &-TitleBox
              text-align: center
            &-CountBox
              margin-top 2px
              text-align: center
      &-TabBox
        margin-top: 15px
        padding-top 20px
        padding-bottom 20px
        background: #fff
        @media SP
          display: none
        &-List
          margin-left: auto;
          margin-right: auto;
          max-width: 646px
          flex-wrap: wrap;
          display: none;
          &.isShow
            display: flex;
          &-Item
            margin-right 25px
            color: #53463D
            font-size: 14px
            &:nth-child(n+8)
              margin-top 25px
