// out: blog.css
@import "../Components/*";
/* ---------------------------- */
/* --- MainSection --- */
/* ---------------------------- */
.MainSection.Page
  padding-top 190px
  padding-bottom 130px
  background: #FEEFF2
  @media SP
    padding-top 115px
    padding-left 24px
    padding-right 24px
    padding-bottom 70px

/* ---------------------------- */
/* --- BlogSection --- */
/* ---------------------------- */
.BlogSection
  margin-left: auto
  margin-right: auto
  padding-top 60px
  padding-bottom 90px
  max-width: 1040px
  width 100%
  background: #FFFAFB
  border-top: 2px solid #52453C
  border-bottom: 2px solid #52453C
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  @media SP
    padding-top 30px
    padding-left: 30px
    padding-right: 30px
    padding-bottom 60px
.Blog
  &-Inner
    margin-left: auto;
    margin-right: auto;
    max-width: 720px
    &-Headline
      max-width: 120px
      margin-left: auto;
      margin-right: auto;
    &-Beginner
      margin-top 60px
      @media SP
        margin-top 45px
      &-Headline
        border-bottom: 1px solid #51443C
        padding-bottom 16px
        letter-spacing: 0.28em
        line-height: 16px
        color: #51443C
        font-size: 24px
        @media SP
          font-size: 18px
      &-Card
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        @media SP
          margin-top 20px
        &-Item
          margin-top 45px
          width: calc((100% - 32px) / 3)
          @media SP
            margin-top 30px
            width 100%
          &:not(:nth-child(3n-2))
            margin-left 16px
            @media SP
              margin-left 0
          &:nth-child(1)
            margin-top 0
          &:nth-child(2)
            margin-top 0
            @media SP
              margin-top 30px
          &:nth-child(3)
            margin-top 0
            @media SP
              margin-top 30px
          &-Img
            padding-top 60.23%
            width: 100%
            @media SP
              padding-top 59.92%
          &-Title
            margin-top 20px
            line-height: 16px
            word-break: break-all
            text-align: center;
            color: #5B4F46
            font-size: 14px;
            @media SP
              margin-top 10px
    &-RecentPost
      margin-top 60px
      @media SP
        margin-top 45px
      &-Headline
        border-bottom: 1px solid #51443C
        padding-bottom 16px
        letter-spacing: 0.28em
        line-height: 16px
        color: #51443C
        font-size: 24px
        @media SP
          font-size: 18px
      &-Card
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        @media SP
          margin-top 20px
        &-Item
          margin-top 45px
          width: calc((100% - 42px) / 2)
          @media SP
            margin-top 30px
            width 100%
          &:nth-child(even)
            margin-left 42px
            @media SP
              margin-left 0
          &:nth-child(1)
            margin-top 0
          &:nth-child(2)
            margin-top 0
            @media SP
              margin-top 30px
          &-Img
            padding-top 60.17%
            width: 100%
            @media SP
              padding-top 59.92%
          &-Date
            border-bottom: 1px solid #D6D6D6
            margin-top 16px
            padding-bottom 16px
            line-height: 16px
            font-size: 16px;
            @media SP
              margin-top 12px
              padding-bottom 12px
              font-size: 14px
          &-Title
            margin-top 20px
            line-height: 16px
            word-break: break-all
            color: #5B4F46
            font-size: 15px;
            @media SP
              margin-top 10px
              font-size: 14px
          &-Text
            margin-top 15px
            height: 74px
            line-height: 27px
            letter-spacing: 0.02em
            word-break: break-all
            color: #707070
            font-size: 14px;
            overflow: hidden
            @media SP
              height: 52px
              line-height: 19px
              font-size: 12px
      &-Pagination
        margin-top 60px
        display: flex
        justify-content: center
        @media SP
          margin-top 50px
        &-Item
          margin-left 25px
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #F5F5F5
          color: #51443C
          font-size: 18px
          @media SP
            margin-left 16px
            width 40px
            height 40px
          &.isActive
            background: #51443C
            color: #fff
    &-PopularPost
      margin-top 90px
      &-Headline
        border-bottom: 1px solid #51443C
        padding-bottom 16px
        letter-spacing: 0.28em
        line-height: 16px
        color: #51443C
        font-size: 24px
        @media SP
          font-size: 18px
      &-Card
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        @media SP
          margin-top 20px
        &-Item
          margin-top 45px
          width: calc((100% - 42px) / 2)
          @media SP
            margin-top 30px
            width 100%
          &:nth-child(even)
            margin-left 42px
            @media SP
              margin-left 0
          &:nth-child(1)
            margin-top 0
          &:nth-child(2)
            margin-top 0
            @media SP
              margin-top 30px
          &-Img
            padding-top 60.17%
            width: 100%
            @media SP
              padding-top 59.92%
          &-Date
            border-bottom: 1px solid #D6D6D6
            margin-top 16px
            padding-bottom 16px
            line-height: 16px
            font-size: 16px;
            @media SP
              margin-top 12px
              padding-bottom 12px
              font-size: 14px
          &-Title
            margin-top 20px
            line-height: 16px
            word-break: break-all
            color: #5B4F46
            font-size: 15px;
            @media SP
              margin-top 10px
              font-size: 14px
          &-Text
            margin-top 15px
            height: 74px
            line-height: 27px
            letter-spacing: 0.02em
            word-break: break-all
            color: #707070
            font-size: 14px;
            overflow: hidden
            @media SP
              height: 52px
              line-height: 19px
              font-size: 12px
