// out: company.css
@import "../Components/*";
/* ---------------------------- */
/* --- MainSection --- */
/* ---------------------------- */
.MainSection.Page
  padding-top 190px
  padding-bottom 130px
  background: #FEEFF2
  @media SP
    padding-top 115px
    padding-left 24px
    padding-right 24px
    padding-bottom 70px

/* ---------------------------- */
/* --- CompanySection --- */
/* ---------------------------- */
.CompanySection
  margin-left: auto
  margin-right: auto
  padding-top 60px
  padding-bottom 90px
  max-width: 1040px
  width 100%
  background: #FFFAFB
  border-top: 2px solid #52453C
  border-bottom: 2px solid #52453C
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  @media SP
    padding-top 30px
    padding-left: 12px
    padding-right: 12px
    padding-bottom 60px
.Company
  &-Inner
    margin-left: auto;
    margin-right: auto;
    max-width: 720px
    &-Headline
      margin-left: auto;
      margin-right: auto;
      max-width: 226px
    &-List
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      @media SP
        margin-top 45px
