// out: complete.css
@import "../Components/*";
/* ---------------------------- */
/* --- MainSection --- */
/* ---------------------------- */
.MainSection.Page
  padding-top 190px
  padding-bottom 130px
  background: #FEEFF2
  @media SP
    padding-top 115px
    padding-left 24px
    padding-right 24px
    padding-bottom 70px

/* ---------------------------- */
/* --- CompleteSection --- */
/* ---------------------------- */
.CompleteSection
  margin-left: auto
  margin-right: auto
  padding-top 60px
  padding-bottom 90px
  max-width: 1040px
  width 100%
  background: #FFFAFB
  border-top: 2px solid #52453C
  border-bottom: 2px solid #52453C
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  @media SP
    padding-top 30px
    padding-left: 30px
    padding-right: 30px
    padding-bottom 60px
.Complete
  &-Inner
    margin-left: auto;
    margin-right: auto;
    max-width: 720px
    &-Headline
      max-width: 240px
      margin-left: auto;
      margin-right: auto;
    &-List
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      @media SP
        margin-top 45px
      &-Item
        &:nth-child(2)
          margin-top 60px
          @media SP
            margin-top 45px
        &:nth-child(3)
          margin-top 30px
          @media SP
            margin-top 25px
        &:nth-child(4)
          margin-top 90px
          display: flex
          justify-content: flex-end
          @media SP
            margin-top 50px
            justify-content: flex-start
        &-Title
          line-height: 33px
          color: #5B4F46
          font-size: 24px;
          @media SP
            line-height: 24px
            font-size: 18px
        &-Text
          line-height: 22px
          color: #5B4F46
          font-size: 16px;
          @media SP
            line-height: 19px
            font-size: 14px
        &-Link
          border-bottom: 1px solid #5B4F46
          padding-bottom 3px
          line-height: 24px
          color: #5B4F46
          font-size: 18px;
          @media SP
            line-height: 22px
            font-size: 16px
