// out: contents.css
@import "../Components/*";
/* ---------------------------- */
/* --- MainSection --- */
/* ---------------------------- */
.MainSection.Page
  padding-top 190px
  padding-bottom 130px
  background: #EFF3FE
  @media SP
    padding-top 115px
    padding-left 24px
    padding-right 24px
    padding-bottom 70px

/* ---------------------------- */
/* --- ContentsSection --- */
/* ---------------------------- */
.ContentsSection
  margin-left: auto
  margin-right: auto
  padding-top 60px
  padding-bottom 90px
  max-width: 1040px
  width 100%
  background: #FFFAFB
  border-top: 2px solid #52453C
  border-bottom: 2px solid #52453C
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  @media SP
    padding-top 30px
    padding-bottom 60px
.Contents
  &-Inner
    margin-left: auto;
    margin-right: auto;
    max-width: 720px
    &-Headline
      max-width: 214px
      margin-left: auto;
      margin-right: auto;
    &-Lead
      margin-top 60px
      @media SP
        margin-top 45px
        padding-left 30px
        padding-right 30px
      &-ImgBox
        position: relative
        width: 100%
        &-Img
          padding-top 16.66%
          width: 100%
          @media SP
            padding-top 67.41%
        &-Text
          position: absolute
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width 100%
          text-align: center;
          line-height: 24px
          letter-spacing: 0.28em
          color: #5B4F46
          font-size: 18px;
          @media SP
            line-height: 19px
            font-size: 14px
      &-DescBox
        margin-top: 40px
        line-height: 21px
        color: #52453C
        font-size: 14px
        @media SP
          margin-top 16px
      &-List
        margin-top: 20px
        @media SP
          margin-top 25px
        &-Item
          margin-top 10px
          line-height: 14px
          color: #52453C
          font-size: 14px
          @media SP
            margin-top 24px
            font-size: 13px
          &:nth-child(1)
            margin-top 0
          &:before
            content: ''
            position: relative;
            top: -2px;
            left: -2px;
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background: #FC037D
          &-Span
            @media SP
              display: block
              text-align: right
    &-Toc
      margin-top 60px
      width 100%
      @media SP
        margin-top 45px
        padding-left 30px
        padding-right 30px
      &-Box
        margin-left: auto;
        margin-right: auto;
        padding: 14px
        padding-bottom 40px
        max-width: 350px
        background: #fff
        &-Headline
          line-height: 14px
          color: #52453C
          font-size: 14px
        &-List
          margin-left: auto;
          margin-right: auto;
          padding-top 25px
          width 100%
          max-width: 125px
          @media SP
            padding-top 14px
          &-Item
            margin-top 14px
            line-height: 14px
            color: #52453C
            font-size: 14px
            &:nth-child(1)
              margin-top: 0
    &-Merit
      margin-top: 60px
      @media SP
        margin-top 45px
        padding-left 8px
        padding-right 8px
      &-Headline
        margin-left: auto;
        margin-right: auto;
        max-width: 140px
      &-Box
        margin-top 30px
        padding-top 60px
        padding-bottom 60px
        background: #fff
        @media SP
          padding-left 28px
          padding-right 28px
        &-List
          margin-left: auto;
          margin-right: auto;
          max-width: 600px
          &-Item
            margin-top 48px
            @media SP
              margin-top 42px
            &:nth-child(1)
              margin-top 0
            &-Num
              margin-left: auto;
              margin-right: auto;
              max-width: 26px
            &-Title
              margin-top 10px
              text-align: center;
              line-height: 19px
              color: #52453C
              font-size: 14px
            &-Text
              margin-top 24px
              line-height: 19px
              color: #52453C
              font-size: 14px
              @media SP
                margin-top 16px
                font-size: 13px
    &-Flow
      margin-top: 60px
      @media SP
        margin-top 45px
        padding-left 8px
        padding-right 8px
      &-Headline
        margin-left: auto;
        margin-right: auto;
        max-width: 128px
      &-Box
        margin-top 30px
        padding-top 60px
        padding-bottom 60px
        background: #fff
        @media SP
          padding-top 30px
          padding-left 28px
          padding-bottom 30px
          padding-right 28px
        &-List
          margin-left: auto;
          margin-right: auto;
          max-width: 539px
          &-Item
            padding-bottom 35px
            @media SP
              padding-bottom 30px
            &:nth-child(5)
              @media SP
                padding-bottom 0
            &-Content
              display: flex
              &-Number
                position: relative
                border-radius: 50%
                width 35px
                height 35px
                line-height: 35px
                letter-spacing: 0.05em
                text-align: center
                background: #E50070
                color: #fff
                font-size: 18px
                @media SP
                  width 30px
                  height 30px
                  min-width: 30px
                  min-height: 30px
                  line-height: 30px
                  font-size: 14px
                &-LineHead
                  position: absolute;
                  top: -10px;
                  left: 17px;
                  width: 1px;
                  height: 10px;
                  background: #E50070
                  opacity: 1
                  @media SP
                    left: 15px
                    opacity: 0
                &-Line
                  position: absolute;
                  top: -88px;
                  left: 17px;
                  width: 1px;
                  height: 88px;
                  background: #E50070
                  @media SP
                    top: -146px
                    left: 15px
                    height: 178px
                &-LineBottom
                  position: absolute;
                  top: 35px;
                  left: 17px;
                  width: 1px;
                  height: 70px;
                  background: #E50070
                  @media SP
                    top: 28px
                    left: 15px
                    height: 110px
                &-LineLong
                  position: absolute;
                  top: -107px;
                  left: 17px;
                  width: 1px;
                  height: 115px;
                  background: #E50070
                  @media SP
                    top: -178px
                    left: 15px
                    height: 178px
              &-Right
                margin-left: 12px
                flex-grow: 5
                @media SP
                  margin-left 16px
                &-Title
                  line-height: 35px
                  color: #52453C
                  font-size: 18px
                  @media SP
                   font-size: 16px
                &-Description
                  margin-top 10px
                  line-height: 19px
                  color: #52453C
                  font-size: 14px
                  @media SP
                   font-size: 13px

    &-QA
      margin-top: 60px
      @media SP
        margin-top 45px
        padding-left 8px
        padding-right 8px
      &-Headline
        margin-left: auto;
        margin-right: auto;
        max-width: 236px
      &-Box
        margin-top 60px
        padding-top 60px
        padding-bottom 60px
        background: #fff
        @media SP
          margin-top 30px
          padding-top 30px
          padding-left 28px
          padding-right 28px
          padding-bottom 30px
        &-List
          margin-left: auto;
          margin-right: auto;
          max-width: 600px
          &-Item
            position: relative
            &:nth-child(1)
              margin-top: 0
            &:nth-child(odd)
              border-bottom: 1px solid #51443B
              margin-top 15px
              padding-bottom 15px
              cursor: pointer
              @media SP
                margin-top 10px
                padding-bottom 8px
            &:nth-child(odd):before
              content: '';
              position: absolute;
              top: 28%;
              right: 10px;
              background-image: url(../../images/contents-merit-arrow.png);
              background-position: center;
              background-size: cover;
              width: 13px;
              height: 11px;
              display: block;
            &:nth-child(even)
              padding-top 30px
              padding-left 30px
              padding-bottom 15px
              display: none
              @media SP
                border-bottom: 1px solid #51443B
                padding-top 10px
                padding-left 0
                padding-bottom 10px
            &-Title
              line-height: 28px
              letter-spacing: 0.01em
              color: #52453C
              font-size: 16px
              @media SP
                line-height: 18px
                font-size: 13px
            &-Text
              line-height: 18px
              letter-spacing: 0.06em
              color: #52453C
              font-size: 14px
              @media SP
                font-size: 12px
              &-Link
                display: inline-block;
                color: #e91b7b
              &-SubList
                margin-top 20px
                margin-left: auto;
                display: flex;
                justify-content: flex-end;
                @media SP
                  justify-content: flex-start;
                &-Item
                  letter-spacing: normal;
                  font-size: 13px
                  @media SP
                    font-size: 12px
                  &:nth-child(2)
                    margin-left 40px
                    @media SP
                      margin-left 20px
                  &-Link
                    display: inline-block;
                    color: #e91b7b
    &-BtnGroup
      margin-top: 80px
      width: 100%
      display: flex
      justify-content: center
      @media SP
        margin-top 50px
      &-SubmitBtn
        border-radius: 8px
        width 100%
        max-width: 320px
        height: 55px
        box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.16)
        background: #5b4f46
        letter-spacing: 0.22em
        line-height: 55px
        text-align: center
        color: #fff
        font-size: 16px
        @media SP
          max-width: 266px
          height 45px
          line-height: 45px
