@font-face {
  font-family: 'aamono';
  src: url("../../font/Aamonoline.ttf") format('truetype');
}
@font-face {
  font-family: 'din';
  src: url("../../font/din1451alt.ttf") format('truetype');
}
@font-face {
  font-family: 'bodoni';
  src: url("../../font/BodoniOldFaceBESmallCapsRegular.otf") format('truetype');
}
.BorderLayer {
  width: 100%;
  height: 5px;
  background: #52453c;
}
@media screen and (max-width: 540px) {
  .BorderLayer {
    height: 2px;
  }
}
.FooterSection {
  position: relative;
  background: #fff;
}
@media screen and (max-width: 1158px) {
  .FooterSection {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 540px) {
  .FooterSection {
    padding-bottom: 54px;
  }
}
.Footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 540px) {
  .Footer {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
.Footer-Inner {
  max-width: 1114px;
  margin-left: auto;
  margin-right: auto;
}
.Footer-Inner-List {
  display: flex;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List {
    flex-wrap: wrap;
  }
}
.Footer-Inner-List-Item {
  margin-left: 0;
  width: calc((100% - 30px * 3) / 4);
}
.Footer-Inner-List-Item:nth-child(1) {
  border-right: 1px solid #959595;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item:nth-child(1) {
    border-right: none;
    width: 100%;
  }
}
.Footer-Inner-List-Item:nth-child(2) {
  border-right: 1px solid #959595;
  margin-left: 30px;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item:nth-child(2) {
    display: none;
  }
}
.Footer-Inner-List-Item:nth-child(3) {
  border-right: 1px solid #959595;
  margin-left: 30px;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item:nth-child(3) {
    border-right: none;
    margin-left: 0;
  }
}
.Footer-Inner-List-Item:nth-child(4) {
  margin-left: 30px;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item:nth-child(4) {
    margin-left: 0;
  }
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item.flex {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 227px;
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item.onecolumn {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }
}
.Footer-Inner-List-Item-ImgBox {
  max-width: 208px;
}
@media screen and (max-width: 845px) {
  .Footer-Inner-List-Item-ImgBox {
    max-width: 126px;
  }
}
.Footer-Inner-List-Item-Text {
  letter-spacing: 0.1em;
  color: #959595;
  font-weight: bold;
  font-size: 14px;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text {
    color: #52453c;
    font-size: 12px;
  }
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text.w100 {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text.w25 {
    width: 25%;
    text-align: center;
  }
}
.Footer-Inner-List-Item-Text:nth-child(n+2) {
  margin-top: 25px;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text:nth-child(n+2) {
    margin-top: 12px;
  }
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text.mt20 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text.tl {
    text-align: left;
  }
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text.tc {
    text-align: center;
  }
}
.Footer-Inner-List-Item-Text-Link:hover {
  cursor: pointer;
}
.Footer-Inner-List-Item-Text-Link-Span {
  display: none;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text-Link-Span {
    display: inline-block;
  }
}
.Footer-Inner-List-Item-Text-LinkBtn {
  position: relative;
  border: 1px solid #707070;
  width: 175px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
@media screen and (max-width: 845px) {
  .Footer-Inner-List-Item-Text-LinkBtn {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Item-Text-LinkBtn {
    display: none;
  }
}
.Footer-Inner-List-Item-Text-LinkBtn:hover {
  cursor: pointer;
}
.Footer-Inner-List-Item-Text-LinkBtn::after {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(-50%, -50%);
  content: '';
  width: 6px;
  height: 12px;
  background: url("../../images/footer-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.Footer-Inner-List-Action {
  display: none;
}
@media screen and (max-width: 540px) {
  .Footer-Inner-List-Action {
    margin-top: 16px;
    display: flex;
    width: 100%;
  }
}
.Footer-Inner-List-Action-Right {
  border-radius: 8px;
  width: calc((100% - 10px) / 2);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #e91b7b;
}
.Footer-Inner-List-Action-Right-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.Footer-Inner-List-Action-Right-Box-IconBox {
  margin-right: 8px;
  max-width: 24px;
}
.Footer-Inner-List-Action-Right-Box-Text {
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.Footer-Inner-List-Action-Left {
  border-radius: 8px;
  margin-left: 10px;
  width: calc((100% - 10px) / 2);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #00b215;
}
.Footer-Inner-List-Action-Left-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.Footer-Inner-List-Action-Left-Box-IconBox {
  margin-right: 8px;
  max-width: 24px;
}
.Footer-Inner-List-Action-Left-Box-Text {
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.CTASection {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  background: #fff;
  display: none;
  border-top: 1px solid #eee;
  z-index: 10;
}
@media screen and (max-width: 540px) {
  .CTASection {
    display: block;
  }
}
.CTA-Inner {
  margin-left: auto;
  margin-right: auto;
}
.CTA-Inner-List {
  display: flex;
}
@media screen and (max-width: 540px) {
  .CTA-Inner-List {
    flex-wrap: wrap;
  }
}
.CTA-Inner-List-Item {
  display: flex;
  width: 100%;
}
.CTA-Inner-List-Item-Right {
  border-radius: 8px;
  width: calc((100% - 16px) / 3);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #e91b7b;
}
.CTA-Inner-List-Item-Right-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.CTA-Inner-List-Item-Right-Box-IconBox {
  margin-right: 8px;
  max-width: 24px;
}
.CTA-Inner-List-Item-Right-Box-Text {
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.CTA-Inner-List-Item-Center {
  border-radius: 8px;
  margin-left: 8px;
  width: calc((100% - 16px) / 3);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #e91b7b;
}
.CTA-Inner-List-Item-Center-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.CTA-Inner-List-Item-Center-Box-IconBox {
  margin-right: 8px;
  max-width: 24px;
}
.CTA-Inner-List-Item-Center-Box-Text {
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.CTA-Inner-List-Item-Left {
  border-radius: 8px;
  margin-left: 8px;
  width: calc((100% - 16px) / 3);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #00b215;
}
.CTA-Inner-List-Item-Left-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.CTA-Inner-List-Item-Left-Box-IconBox {
  margin-right: 8px;
  max-width: 24px;
}
.CTA-Inner-List-Item-Left-Box-Text {
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.CopyRightLayer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #52453c;
  color: #fff;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 13px;
}
.HeaderLayer {
  position: fixed;
  top: 44px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  z-index: 100000;
}
@media screen and (max-width: 540px) {
  .HeaderLayer {
    top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.Header {
  width: 100%;
}
.Header-Inner-Info {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background: #feeff2;
  color: #e91b7b;
  font-size: 14px;
}
.Header-Inner-Content {
  display: flex;
  flex-wrap: nowrap;
}
.Header-Inner-Content-Left {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 30px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #fff;
}
@media screen and (max-width: 540px) {
  .Header-Inner-Content-Left {
    border-radius: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
.Header-Inner-Content-Left-ImgBox {
  padding-top: 11px;
  padding-bottom: 11px;
  max-width: 137px;
}
@media screen and (max-width: 540px) {
  .Header-Inner-Content-Left-ImgBox {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 123px;
  }
}
.Header-Inner-Content-Left-ItemMain {
  margin-left: 30px;
  padding-left: 45px;
  border-right: 1px solid #c3c3c3;
  padding-top: 11px;
  padding-bottom: 11px;
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1436px) {
  .Header-Inner-Content-Left-ItemMain {
    margin-left: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 540px) {
  .Header-Inner-Content-Left-ItemMain {
    display: none;
  }
}
.Header-Inner-Content-Left-ItemMain-Item {
  padding-right: 30px;
  font-size: 14px;
}
@media screen and (max-width: 1436px) {
  .Header-Inner-Content-Left-ItemMain-Item {
    padding-right: 20px;
    font-size: 12px;
  }
}
.Header-Inner-Content-Left-Hm {
  display: none;
  margin-left: auto;
}
@media screen and (max-width: 540px) {
  .Header-Inner-Content-Left-Hm {
    display: block;
  }
}
.Header-Inner-Content-Left-Hm-Link {
  position: relative;
  width: 28px;
  height: 24px;
  z-index: 100002;
}
.Header-Inner-Content-Left-Hm-Link-Span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #51443b;
}
.Header-Inner-Content-Left-Hm-Link-Span:nth-child(1) {
  top: 0;
}
.Header-Inner-Content-Left-Hm-Link-Span:nth-child(2) {
  top: 10px;
}
.Header-Inner-Content-Left-Hm-Link-Span:nth-child(3) {
  bottom: 0;
}
.Header-Inner-Content-Left-ItemSub {
  margin-left: 30px;
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1436px) {
  .Header-Inner-Content-Left-ItemSub {
    margin-left: 20px;
  }
}
@media screen and (max-width: 540px) {
  .Header-Inner-Content-Left-ItemSub {
    display: none;
  }
}
.Header-Inner-Content-Left-ItemSub-Item {
  letter-spacing: 0.3em;
  font-size: 14px;
}
@media screen and (max-width: 1436px) {
  .Header-Inner-Content-Left-ItemSub-Item {
    font-size: 12px;
  }
}
.Header-Inner-Content-Left-ItemSub-Item:nth-child(1) {
  padding-right: 30px;
}
@media screen and (max-width: 1436px) {
  .Header-Inner-Content-Left-ItemSub-Item:nth-child(1) {
    padding-right: 20px;
  }
}
.Header-Inner-Content-Right {
  margin-left: 6px;
  border-radius: 8px;
  width: 207px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #da75a7;
}
@media screen and (max-width: 1436px) {
  .Header-Inner-Content-Right {
    width: 168px;
  }
}
@media screen and (max-width: 540px) {
  .Header-Inner-Content-Right {
    display: none;
  }
}
.Header-Inner-Content-Right:hover {
  cursor: pointer;
}
.Header-Inner-Content-Right-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.Header-Inner-Content-Right-Box-IconBox {
  margin-right: 8px;
  max-width: 30px;
}
.Header-Inner-Content-Right-Box-Text {
  line-height: 1.8;
  letter-spacing: 0.1em;
  color: #fff;
  font-size: 12px;
}
.Info-Inner {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
.Info-Inner-Text {
  text-align: right;
  color: #e91b7b;
  font-size: 14px;
}
.MenuLayer {
  position: fixed;
  top: 0;
  transition: opacity 0.65s;
  width: 100%;
  height: 100vh;
  background: #feeff2;
  z-index: 100001;
}
.MenuLayer.isShow {
  opacity: 1;
  transition: opacity 0.65s;
  pointer-events: auto;
}
.MenuLayer.isHidden {
  opacity: 0;
  pointer-events: none;
}
.Menu {
  width: 100%;
  height: 100%;
}
.Menu-Head {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  background: #fff;
}
.Menu-Head-Head-ImgBox {
  max-width: 123px;
}
.Menu-Head-MenuIcon {
  position: relative;
  margin-left: auto;
  width: 28px;
  height: 21px;
}
.Menu-Head-MenuIcon-Span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #51443b;
}
.Menu-Head-MenuIcon-Span:nth-child(1) {
  top: 0;
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
}
.Menu-Head-MenuIcon-Span:nth-child(2) {
  opacity: 0;
}
.Menu-Head-MenuIcon-Span:nth-child(3) {
  bottom: 0;
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
}
.Menu-Inner {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
}
.Menu-Inner-List {
  margin-top: 24px;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
}
.Menu-Inner-List-Item {
  border-bottom: 1px solid #52453c;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: #52453c;
}
.Menu-Inner-List-Item:nth-child(n+2) {
  margin-top: 20px;
}
.Menu-Inner-List-Item:after {
  display: inline-block;
  margin-left: auto;
  content: '';
  width: 6px;
  height: 12px;
  background: url("../../images/menu-arrow.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}
@media screen and (max-width: 540px) {
  .Menu-Inner-Action {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
.Menu-Inner-Action-Right {
  border-radius: 8px;
  width: calc((100% - 10px) / 2);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #e91b7b;
}
.Menu-Inner-Action-Right-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.Menu-Inner-Action-Right-Box-IconBox {
  margin-right: 8px;
  max-width: 24px;
}
.Menu-Inner-Action-Right-Box-Text {
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.Menu-Inner-Action-Left {
  border-radius: 8px;
  margin-left: 10px;
  width: calc((100% - 10px) / 2);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #00b215;
}
.Menu-Inner-Action-Left.tel {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #e91b7b;
}
.Menu-Inner-Action-Left-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.Menu-Inner-Action-Left-Box-IconBox {
  margin-right: 8px;
  max-width: 24px;
}
.Menu-Inner-Action-Left-Box-Text {
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.Menu-Inner-LoginAction {
  margin-top: 25px;
  margin-left: auto;
  max-width: 156px;
  text-align: right;
  font-size: 14px;
}
.Menu-Inner-LoginAction:after {
  content: '';
  display: block;
  margin-top: 6px;
  width: 100%;
  height: 1px;
  background: #52453c;
}
/* ---------------------------- */
/* --- MainSection --- */
/* ---------------------------- */
.MainSection {
  background: #fff8fa;
}
.MainSection2 {
  background: #fff8fa;
}
/* ---------------------------- */
/* --- HeroSection --- */
/* ---------------------------- */
.HeroSection {
  background: url("../../images/hero-bg.png") no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 540px) {
  .HeroSection {
    background-position: right;
  }
}
.Hero {
  position: relative;
  padding-top: 246px;
  padding-bottom: 252px;
}
@media screen and (max-width: 540px) {
  .Hero {
    padding-top: 180px;
    padding-bottom: 110px;
  }
}
.Hero-Inner {
  margin-left: 18.05%;
  max-width: 380px;
}
@media screen and (max-width: 540px) {
  .Hero-Inner {
    margin-left: 0;
    margin-right: 25px;
  }
}
.Hero-Inner-Content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  max-width: 658px;
}
@media screen and (max-width: 540px) {
  .Hero-Inner-Content {
    justify-content: flex-end;
  }
}
.Hero-Inner-Content-Headline {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 17px;
}
@media screen and (max-width: 540px) {
  .Hero-Inner-Content-Headline {
    text-align: right;
    font-size: 11px;
  }
}
.Hero-Inner-Content-ImgBox {
  margin-top: 10px;
  max-width: 356px;
}
@media screen and (max-width: 540px) {
  .Hero-Inner-Content-ImgBox {
    max-width: 192px;
  }
}
/* ---------------------------- */
/* --- AboutSection --- */
/* ---------------------------- */
.AboutSection {
  padding-top: 70px;
  padding-bottom: 120px;
  background: #fff8fa;
}
@media screen and (max-width: 540px) {
  .AboutSection {
    padding-top: 56px;
    padding-bottom: 60px;
  }
}
.About-Inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1052px;
}
@media screen and (max-width: 1022px) {
  .About-Inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.About-Inner-Headline {
  margin-left: auto;
  margin-right: auto;
  max-width: 154px;
}
@media screen and (max-width: 540px) {
  .About-Inner-Headline {
    max-width: 126px;
  }
}
.About-Inner-CardGroup {
  margin-top: 80px;
}
@media screen and (max-width: 540px) {
  .About-Inner-CardGroup {
    margin-top: 40px;
  }
}
.About-Inner-CardGroup-Item {
  border: 2px solid #d96ea3;
  padding-top: 56px;
  padding-bottom: 56px;
  position: relative;
  width: 100%;
  background: #feeff2;
}
.About-Inner-CardGroup-Item:nth-child(2) {
  margin-top: 48px;
}
.About-Inner-CardGroup-Item-Border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #d96ea3;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}
.About-Inner-CardGroup-Item-Number {
  text-align: center;
  color: #d96ea3;
  font-size: 48px;
}
@media screen and (max-width: 540px) {
  .About-Inner-CardGroup-Item-Number {
    font-size: 36px;
  }
}
.About-Inner-CardGroup-Item-Headline {
  margin-top: 30px;
  letter-spacing: 0.14em;
  text-align: center;
  font-size: 18px;
}
@media screen and (max-width: 540px) {
  .About-Inner-CardGroup-Item-Headline {
    margin-left: auto;
    margin-right: auto;
    max-width: 267px;
    font-size: 17px;
  }
}
.About-Inner-CardGroup-Item-Headline-TextSp-Text {
  padding-left: 7px;
  padding-right: 7px;
  display: inline;
  background: #da75a7;
  color: #fff;
}
.About-Inner-CardGroup-Item-Description {
  margin-top: 20px;
  width: 100%;
  letter-spacing: 0.06em;
  line-height: 21px;
  text-align: center;
  color: #242424;
  font-size: 14px;
}
@media screen and (max-width: 540px) {
  .About-Inner-CardGroup-Item-Description {
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 0.03em;
    font-size: 13px;
  }
}
.About-Inner-Box {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 540px) {
  .About-Inner-Box {
    margin-top: 36px;
    flex-wrap: wrap;
  }
}
.About-Inner-Box-Btn {
  position: relative;
  display: block;
  width: 327px;
  padding: 22px 0;
  text-align: center;
  border-radius: 3px;
  background: #52453c;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  width: 327px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
@media screen and (max-width: 540px) {
  .About-Inner-Box-Btn {
    width: 100%;
  }
}
.About-Inner-Box-Btn-Icon {
  position: absolute;
  top: 50%;
  right: 22px;
  width: 12px;
  transform: translateY(-50%);
}
.About-Inner-Box-Btn.green {
  background: #62cb54;
}
.About-Inner-Box-Btn.pink {
  background: #da75a7;
}
.About-Inner-Box-Btn:nth-child(2) {
  margin-left: 24px;
}
@media screen and (max-width: 540px) {
  .About-Inner-Box-Btn:nth-child(2) {
    margin-top: 16px;
    margin-left: 0;
  }
}
/* ---------------------------- */
/* --- VoiceSection --- */
/* ---------------------------- */
.VoiceSection {
  padding-bottom: 80px;
  background: #fff8fa;
}
@media screen and (max-width: 540px) {
  .VoiceSection {
    padding-bottom: 80px;
  }
}
.Voice-Inner {
  margin-left: auto;
  margin-right: auto;
}
.Voice-Inner-Headline {
  margin-left: auto;
  margin-right: auto;
  max-width: 136px;
}
@media screen and (max-width: 540px) {
  .Voice-Inner-Headline {
    max-width: 115px;
  }
}
.Voice-Inner-CardGroup {
  margin-top: 60px;
}
@media screen and (max-width: 540px) {
  .Voice-Inner-CardGroup {
    margin-top: 40px;
  }
}
.Voice-Inner-CardGroup-Wrapper {
  display: flex;
}
.Voice-Inner-CardGroup-Wrapper-Slide {
  margin-left: 60px;
}
@media screen and (max-width: 540px) {
  .Voice-Inner-CardGroup-Wrapper-Slide {
    margin-left: 20px;
  }
}
.Voice-Inner-CardGroup-Wrapper-Slide.one {
  width: 255px;
}
.Voice-Inner-CardGroup-Wrapper-Slide.two {
  width: 270px;
}
.Voice-Inner-CardGroup-Wrapper-Slide.three {
  width: 302px;
}
.Voice-Inner-CardGroup-Wrapper-Slide.four {
  width: 255px;
}
.Voice-Inner-CardGroup-Wrapper-Slide.five {
  width: 271px;
}
.Voice-Inner-CardGroup-Wrapper-Slide-Item {
  width: 100%;
}
/* ---------------------------- */
/* --- MeritSection --- */
/* ---------------------------- */
.MeritSection {
  padding-bottom: 90px;
}
@media screen and (max-width: 540px) {
  .MeritSection {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
    background: #feeff2;
  }
}
.Merit-Inner {
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1080px;
  background: #feeff2;
}
@media screen and (max-width: 540px) {
  .Merit-Inner {
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
  }
}
.Merit-Inner-Headline {
  margin-left: auto;
  margin-right: auto;
  max-width: 140px;
}
@media screen and (max-width: 540px) {
  .Merit-Inner-Headline {
    max-width: 115px;
  }
}
.Merit-Inner-List {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 28px;
  padding-right: 28px;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}
@media screen and (max-width: 540px) {
  .Merit-Inner-List {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.Merit-Inner-List-Item {
  margin-top: 24px;
  margin-left: 0;
  display: flex;
  align-items: center;
  width: calc((100% - 24px) / 2);
}
@media screen and (max-width: 540px) {
  .Merit-Inner-List-Item {
    margin-top: 24px;
    width: 100%;
    flex-wrap: wrap;
  }
}
.Merit-Inner-List-Item:first-child {
  margin-top: 0;
}
.Merit-Inner-List-Item:nth-child(2) {
  margin-top: 0;
}
@media screen and (max-width: 540px) {
  .Merit-Inner-List-Item:nth-child(2) {
    margin-top: 24px;
  }
}
.Merit-Inner-List-Item:nth-child(even) {
  margin-left: 24px;
}
@media screen and (max-width: 540px) {
  .Merit-Inner-List-Item:nth-child(even) {
    margin-left: 0;
  }
}
.Merit-Inner-List-Item-Number {
  border: 1px solid #d96ea3;
  border-radius: 4px;
  min-width: 98px;
  height: 98px;
  line-height: 98px;
  text-align: center;
  color: #d96ea3;
  font-size: 48px;
}
@media screen and (max-width: 540px) {
  .Merit-Inner-List-Item-Number {
    min-width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 18px;
  }
}
.Merit-Inner-List-Item-Title {
  margin-left: 16px;
  color: #d96ea3;
  font-size: 14px;
}
.Merit-Inner-List-Item-Box {
  margin-left: 24px;
}
@media screen and (max-width: 540px) {
  .Merit-Inner-List-Item-Box {
    margin-left: 0;
  }
}
.Merit-Inner-List-Item-Box-Title {
  color: #d96ea3;
  font-size: 14px;
}
.Merit-Inner-List-Item-Box-Text {
  margin-top: 10px;
  line-height: 24px;
  color: #707070;
  font-size: 12px;
}
/* ---------------------------- */
/* --- RookieSection --- */
/* ---------------------------- */
.RookieSection {
  padding-top: 45px;
  padding-bottom: 95px;
  background: #feeff2;
}
@media screen and (max-width: 540px) {
  .RookieSection {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #fff8fa;
  }
}
.Rookie-Inner {
  margin-left: auto;
  margin-right: auto;
}
.Rookie-Inner-Headline {
  margin-left: auto;
  margin-right: auto;
  max-width: 174px;
}
@media screen and (max-width: 540px) {
  .Rookie-Inner-Headline {
    max-width: 136px;
  }
}
.Rookie-Inner-Btn {
  position: relative;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 327px;
  padding: 22px 0;
  text-align: center;
  border-radius: 3px;
  background: #52453c;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.Rookie-Inner-Btn-Icon {
  position: absolute;
  top: 50%;
  right: 22px;
  width: 12px;
  transform: translateY(-50%);
}
.Rookie-Inner-Card {
  margin-top: 48px;
  display: flex;
}
@media screen and (max-width: 1382px) {
  .Rookie-Inner-Card {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
}
.Rookie-Inner-Card-Item {
  position: relative;
  width: 100%;
}
.Rookie-Inner-Card-Item-Img {
  width: 100%;
  padding-top: 100%;
}
.Rookie-Inner-Card-Item-Box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 45px;
  width: calc(100% - 48px);
  height: calc(100% - 36px);
  background: rgba(255,255,255,0.75);
}
@media screen and (max-width: 540px) {
  .Rookie-Inner-Card-Item-Box {
    padding-top: 32px;
    padding-bottom: 25px;
  }
}
.Rookie-Inner-Card-Item-Box-Number {
  text-align: center;
  color: #d96ea3;
  font-size: 48px;
}
@media screen and (max-width: 540px) {
  .Rookie-Inner-Card-Item-Box-Number {
    font-size: 36px;
  }
}
.Rookie-Inner-Card-Item-Box-Title {
  margin-top: 25px;
  text-align: center;
  letter-spacing: 0.3em;
  font-size: 22px;
}
@media screen and (max-width: 1382px) {
  .Rookie-Inner-Card-Item-Box-Title {
    font-size: 1.52vw;
  }
}
@media screen and (max-width: 540px) {
  .Rookie-Inner-Card-Item-Box-Title {
    font-size: 16px;
  }
}
.Rookie-Inner-Card-Item-Box-Title-TextSp {
  display: block;
}
.Rookie-Inner-Card-Item-Box-Title-TextSp-Text {
  padding-left: 7px;
  padding-right: 7px;
  display: inline;
  background: #d96ea3;
  color: #fff;
}
.Rookie-Inner-Card-Item-Box-Description {
  position: relative;
  margin-top: 48px;
  letter-spacing: 0.14em;
  line-height: 28px;
  color: #707070;
  font-size: 14px;
}
@media screen and (max-width: 1382px) {
  .Rookie-Inner-Card-Item-Box-Description {
    margin-top: 16px;
    font-size: 0.97vw;
  }
}
@media screen and (max-width: 540px) {
  .Rookie-Inner-Card-Item-Box-Description {
    margin-top: 12px;
    height: 140px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    letter-spacing: inherit;
    line-height: 24px;
    font-size: 13px;
  }
}
.Rookie-Inner-Card-Item-Border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #d96ea3;
  width: calc(100% - 32px);
  height: calc(100% - 36px);
}
/* ---------------------------- */
/* --- RegisterSection --- */
/* ---------------------------- */
.RegisterSection {
  padding-top: 100px;
}
@media screen and (max-width: 540px) {
  .RegisterSection {
    padding-top: 0;
  }
}
.Register-Inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 1080px;
  background: #feeff2;
}
@media screen and (max-width: 540px) {
  .Register-Inner {
    padding-bottom: 60px;
  }
}
.Register-Inner-Headline {
  margin-left: auto;
  margin-right: auto;
  max-width: 216px;
}
@media screen and (max-width: 540px) {
  .Register-Inner-Headline {
    max-width: 168px;
  }
}
.Register-Inner-Movie {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 540px) {
  .Register-Inner-Movie {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    max-width: 100%;
    height: 180px;
  }
}
@media screen and (max-width: 540px) {
  .Register-Inner-Movie video {
    height: 100%;
  }
}
.Register-Inner-List {
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 970px) {
  .Register-Inner-List {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 540px) {
  .Register-Inner-List {
    margin-top: 24px;
    border: 4px solid #fff;
    padding: 6px 6px 12px;
  }
}
.Register-Inner-List-Item {
  margin-left: 0;
  width: calc((100% -36px * 3) / 4);
}
.Register-Inner-List-Item:nth-child(2) {
  margin-left: 12px;
}
@media screen and (max-width: 970px) {
  .Register-Inner-List-Item:nth-child(2) {
    margin-left: 12px;
  }
}
@media screen and (max-width: 540px) {
  .Register-Inner-List-Item:nth-child(2) {
    margin-top: 30px;
    margin-left: 0;
  }
}
.Register-Inner-List-Item:nth-child(3) {
  margin-left: 12px;
}
@media screen and (max-width: 970px) {
  .Register-Inner-List-Item:nth-child(3) {
    margin-top: 12px;
    margin-left: 0;
  }
}
@media screen and (max-width: 540px) {
  .Register-Inner-List-Item:nth-child(3) {
    margin-top: 30px;
  }
}
.Register-Inner-List-Item:nth-child(4) {
  margin-left: 12px;
}
@media screen and (max-width: 970px) {
  .Register-Inner-List-Item:nth-child(4) {
    margin-top: 12px;
    margin-left: 12px;
  }
}
@media screen and (max-width: 540px) {
  .Register-Inner-List-Item:nth-child(4) {
    margin-top: 30px;
    margin-left: 0;
  }
}
@media screen and (max-width: 970px) {
  .Register-Inner-List-Item {
    width: 48%;
  }
}
@media screen and (max-width: 540px) {
  .Register-Inner-List-Item {
    width: 100%;
  }
}
.Register-Inner-List-Item-Top {
  width: 100%;
}
.Register-Inner-List-Item-Top-Img {
  width: 100%;
  padding-top: 73.84%;
}
@media screen and (max-width: 540px) {
  .Register-Inner-List-Item-Top-Img {
    padding-top: 50.48%;
  }
}
.Register-Inner-List-Item-Bottom {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  padding-top: 42px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 267px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
}
@media screen and (max-width: 970px) {
  .Register-Inner-List-Item-Bottom {
    min-height: inherit;
  }
}
@media screen and (max-width: 540px) {
  .Register-Inner-List-Item-Bottom {
    padding-top: 50px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 20px;
  }
}
.Register-Inner-List-Item-Bottom.one {
  padding-bottom: 63px;
}
.Register-Inner-List-Item-Bottom.three {
  padding-bottom: 25px;
}
.Register-Inner-List-Item-Bottom-Number {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  line-height: 75px;
  letter-spacing: 0.3em;
  text-align: center;
  background: #52453c;
  color: #fff;
  font-family: 'din';
  font-size: 24px;
}
@media screen and (max-width: 540px) {
  .Register-Inner-List-Item-Bottom-Number {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 20px;
  }
}
.Register-Inner-List-Item-Bottom-Number-Text {
  margin-left: 5px;
}
.Register-Inner-List-Item-Bottom-Title {
  width: 100%;
  text-align: center;
  letter-spacing: 0.14em;
  line-height: 21px;
  color: #52453c;
  font-size: 14px;
}
.Register-Inner-List-Item-Bottom-Title::after {
  content: '';
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 16px;
  width: 61px;
  height: 2px;
  background: #fc037d;
}
.Register-Inner-List-Item-Bottom-Description {
  margin-top: 16px;
  width: 100%;
  height: 181px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 17px;
  text-align: center;
  color: #707070;
  font-size: 12px;
}
@media screen and (max-width: 540px) {
  .Register-Inner-List-Item-Bottom-Description {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: block;
    font-size: 14px;
  }
}
.Register-Inner-List-Item-Bottom-Description.one {
  height: 89px;
}
@media screen and (max-width: 540px) {
  .Register-Inner-List-Item-Bottom-Description.one {
    height: auto;
  }
}
.Register-Inner-List-Item-Bottom-Description.two {
  height: 121px;
}
@media screen and (max-width: 540px) {
  .Register-Inner-List-Item-Bottom-Description.two {
    height: auto;
  }
}
.Register-Inner-List-Item-Bottom-Description.three {
  height: 143px;
}
@media screen and (max-width: 540px) {
  .Register-Inner-List-Item-Bottom-Description.three {
    height: auto;
  }
}
.Register-Inner-List-Item-Bottom-Description.four {
  height: 119px;
}
@media screen and (max-width: 540px) {
  .Register-Inner-List-Item-Bottom-Description.four {
    height: auto;
  }
}
.Register-Inner-List-Item-Bottom-Action {
  margin-top: 50px;
  width: 100%;
  height: 42px;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  background: #e91b7b;
}
@media screen and (max-width: 540px) {
  .Register-Inner-List-Item-Bottom-Action {
    display: flex;
  }
}
.Register-Inner-List-Item-Bottom-Action-Box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.Register-Inner-List-Item-Bottom-Action-Box-IconBox {
  margin-right: 8px;
  max-width: 24px;
}
.Register-Inner-List-Item-Bottom-Action-Box-Text {
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #fff;
  font-size: 12px;
}
/* ---------------------------- */
/* --- SalarySection --- */
/* ---------------------------- */
.SalarySection {
  padding-top: 100px;
  padding-bottom: 72px;
}
@media screen and (max-width: 540px) {
  .SalarySection {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.Salary-Inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 1080px;
  background: #feeff2;
}
@media screen and (max-width: 540px) {
  .Salary-Inner {
    padding-top: 0;
  }
}
.Salary-Inner-Headline {
  margin-left: auto;
  margin-right: auto;
  max-width: 172px;
}
@media screen and (max-width: 540px) {
  .Salary-Inner-Headline {
    max-width: 134px;
  }
}
.Salary-Inner-Movie {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 540px) {
  .Salary-Inner-Movie {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    max-width: 100%;
    height: 180px;
  }
}
@media screen and (max-width: 540px) {
  .Salary-Inner-Movie video {
    height: 100%;
  }
}
.Salary-Inner-List {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.Salary-Inner-List-Item {
  margin-top: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 975px) {
  .Salary-Inner-List-Item {
    align-items: center;
  }
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item {
    align-items: inherit;
  }
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item:nth-child(1) {
    background: url("../../images/salary-item01-sp.png") no-repeat;
    background-position: left;
    background-size: cover;
  }
}
.Salary-Inner-List-Item:nth-child(2) {
  margin-top: 45px;
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item:nth-child(2) {
    margin-top: 24px;
    background: url("../../images/salary-item02-sp.png") no-repeat;
    background-position: left;
    background-size: cover;
  }
}
.Salary-Inner-List-Item:nth-child(3) {
  margin-top: 45px;
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item:nth-child(3) {
    margin-top: 24px;
    background: url("../../images/salary-item03-sp.png") no-repeat;
    background-position: left;
    background-size: cover;
  }
}
.Salary-Inner-List-Item:nth-child(4) {
  margin-top: 45px;
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item:nth-child(4) {
    margin-top: 24px;
    background: url("../../images/salary-item04-sp.png") no-repeat;
    background-position: left;
    background-size: cover;
  }
}
.Salary-Inner-List-Item:nth-child(5) {
  margin-top: 45px;
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item:nth-child(5) {
    margin-top: 24px;
    background: url("../../images/salary-item05-sp.png") no-repeat;
    background-position: left;
    background-size: cover;
  }
}
.Salary-Inner-List-Item-Left {
  flex: 0 0 302px;
}
@media screen and (max-width: 975px) {
  .Salary-Inner-List-Item-Left {
    flex: 0 0 20.97vw;
  }
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item-Left {
    display: none;
  }
}
.Salary-Inner-List-Item-Left-Img {
  width: 100%;
  padding-top: 58.89%;
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item-Left-Img {
    padding-top: 73.48%;
  }
}
.Salary-Inner-List-Item-Right {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-left: 12px;
  padding-top: 56px;
  padding-bottom: 56px;
  padding-left: 82px;
  padding-right: 16px;
  flex-grow: 5;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background: #fff;
}
@media screen and (max-width: 1090px) {
  .Salary-Inner-List-Item-Right {
    padding-top: 28px;
    padding-left: 40px;
    padding-bottom: 28px;
  }
}
@media screen and (max-width: 975px) {
  .Salary-Inner-List-Item-Right {
    padding-left: 2.77vw;
  }
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item-Right {
    margin-left: auto;
    margin-right: inherit;
    padding-top: 24px;
    padding-left: 40px;
    padding-bottom: 24px;
    flex-grow: inherit;
    flex-wrap: wrap;
    width: 69%;
    background: rgba(255,255,255,0.9);
  }
}
@media screen and (max-width: 975px) {
  .Salary-Inner-List-Item-Right.one {
    padding-top: 1.94vw;
    padding-bottom: 1.94vw;
  }
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item-Right.one {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.Salary-Inner-List-Item-Right.two {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 975px) {
  .Salary-Inner-List-Item-Right.two {
    padding-top: 1.94vw;
    padding-bottom: 1.94vw;
  }
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item-Right.two {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.Salary-Inner-List-Item-Right.three {
  padding-top: 42px;
  padding-bottom: 42px;
}
@media screen and (max-width: 975px) {
  .Salary-Inner-List-Item-Right.three {
    padding-top: 1.94vw;
    padding-bottom: 1.94vw;
  }
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item-Right.three {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.Salary-Inner-List-Item-Right.four {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 975px) {
  .Salary-Inner-List-Item-Right.four {
    padding-top: 1.94vw;
    padding-bottom: 1.94vw;
  }
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item-Right.four {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.Salary-Inner-List-Item-Right.five {
  padding-top: 49px;
  padding-bottom: 49px;
}
@media screen and (max-width: 975px) {
  .Salary-Inner-List-Item-Right.five {
    padding-top: 1.94vw;
    padding-bottom: 1.94vw;
  }
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item-Right.five {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.Salary-Inner-List-Item-Right-Number {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  line-height: 75px;
  letter-spacing: 0.3em;
  text-align: center;
  background: #52453c;
  color: #fff;
  font-family: 'din';
  font-size: 24px;
}
@media screen and (max-width: 1090px) {
  .Salary-Inner-List-Item-Right-Number {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
  }
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item-Right-Number {
    left: 0;
  }
}
.Salary-Inner-List-Item-Right-Number-Text {
  margin-left: 5px;
}
.Salary-Inner-List-Item-Right-Title {
  min-width: 226px;
  letter-spacing: 0.14em;
  color: #52453c;
  font-size: 22px;
}
@media screen and (max-width: 1090px) {
  .Salary-Inner-List-Item-Right-Title {
    font-size: 16px;
  }
}
@media screen and (max-width: 975px) {
  .Salary-Inner-List-Item-Right-Title {
    min-width: 120px;
    font-size: 1.52vw;
  }
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item-Right-Title {
    min-width: inherit;
    width: 100%;
    font-size: 16px;
  }
}
.Salary-Inner-List-Item-Right-Border {
  display: none;
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item-Right-Border {
    display: block;
    margin-top: 8px;
    width: 30px;
    height: 2px;
    background: #fc037d;
  }
}
.Salary-Inner-List-Item-Right-Description {
  position: relative;
  min-width: 330px;
  padding-left: 32px;
  letter-spacing: 0.15em;
  line-height: 16px;
  color: #464646;
  font-size: 12px;
}
@media screen and (max-width: 975px) {
  .Salary-Inner-List-Item-Right-Description {
    min-width: inherit;
    font-size: 0.83vw;
  }
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item-Right-Description {
    margin-top: 10px;
    min-width: inherit;
    width: 100%;
    padding-left: 0;
    font-weight: normal;
    font-size: 11px;
  }
}
.Salary-Inner-List-Item-Right-Description::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  display: block;
  width: 2px;
  height: 80px;
  background: #fc78b6;
}
@media screen and (max-width: 540px) {
  .Salary-Inner-List-Item-Right-Description::before {
    display: none;
  }
}
/* ---------------------------- */
/* --- Triangle --- */
/* ---------------------------- */
.Triangle {
  width: 100%;
  background: #fff;
}
/* ---------------------------- */
/* --- MangaSection --- */
/* ---------------------------- */
.MangaSection {
  background: #fff;
}
.Manga-Inner {
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 90px;
  max-width: 1080px;
}
@media screen and (max-width: 540px) {
  .Manga-Inner {
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 60px;
  }
}
.Manga-Inner-Headline {
  margin-left: auto;
  margin-right: auto;
  max-width: 627px;
}
@media screen and (max-width: 540px) {
  .Manga-Inner-Headline {
    max-width: 325px;
  }
}
.Manga-Inner-Box {
  margin-top: 24px;
  width: 100%;
}
/* ---------------------------- */
/* --- QuestionSection --- */
/* ---------------------------- */
.QuestionSection {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #feeff2;
}
@media screen and (max-width: 540px) {
  .QuestionSection {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.Question-Inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}
.Question-Inner-Headline {
  margin-left: auto;
  margin-right: auto;
  max-width: 236px;
}
@media screen and (max-width: 540px) {
  .Question-Inner-Headline {
    max-width: 184px;
  }
}
.Question-Inner-Card {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
}
@media screen and (max-width: 540px) {
  .Question-Inner-Card {
    margin-top: 50px;
  }
}
.Question-Inner-Card-Item {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 540px) {
  .Question-Inner-Card-Item {
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.Question-Inner-Card-Item-Left {
  position: absolute;
  top: 45%;
  left: 0;
  transform: translate(0, -50%);
  width: 48.33%;
}
@media screen and (max-width: 1096px) {
  .Question-Inner-Card-Item-Left {
    top: 28%;
  }
}
@media screen and (max-width: 540px) {
  .Question-Inner-Card-Item-Left {
    position: relative;
    top: inherit;
    left: inherit;
    transform: none;
    width: 100%;
  }
}
.Question-Inner-Card-Item-Left-Img {
  width: 100%;
  padding-top: 79.31%;
  border-radius: 8px;
}
@media screen and (max-width: 540px) {
  .Question-Inner-Card-Item-Left-Img {
    padding-top: 52.9%;
    border-radius: 0;
  }
}
.Question-Inner-Card-Item-Right {
  position: relative;
  border: 2px solid #da75a7;
  padding-top: 64px;
  padding-bottom: 30px;
  padding-left: 28px;
  padding-right: 28px;
  min-width: 590px;
  max-width: 590px;
  background: #fff;
}
@media screen and (max-width: 1096px) {
  .Question-Inner-Card-Item-Right {
    padding-top: 40px;
    padding-left: 80px;
    min-width: inherit;
  }
}
@media screen and (max-width: 540px) {
  .Question-Inner-Card-Item-Right {
    margin-top: 48px;
    padding-top: 50px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
  }
}
.Question-Inner-Card-Item-Right-Description {
  line-height: 28px;
  color: #52453c;
  font-size: 14px;
}
@media screen and (max-width: 540px) {
  .Question-Inner-Card-Item-Right-Description {
    line-height: 26px;
    letter-spacing: 0.06em;
    font-size: 13px;
  }
}
.Question-Inner-Card-Item-Right-Badge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 353px;
  height: 54px;
  line-height: 54px;
  letter-spacing: 0.3em;
  text-align: center;
  background: #da75a7;
  color: #fff;
  font-size: 17px;
  z-index: 1;
}
@media screen and (max-width: 540px) {
  .Question-Inner-Card-Item-Right-Badge {
    width: 300px;
    height: 48px;
    letter-spacing: 0.1em;
    line-height: 48px;
    font-size: 14px;
  }
}
.Question-Inner-Card-Item-Right-Border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #d96ea3;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}
.Question-Inner-Panel {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 540px) {
  .Question-Inner-Panel {
    margin-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.Question-Inner-Panel-Item {
  border: 2px solid #da75a7;
  margin-left: 0;
  position: relative;
  width: calc((100% - 30px) / 2);
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 540px) {
  .Question-Inner-Panel-Item {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .Question-Inner-Panel-Item:nth-child(2) {
    margin-top: 15px;
    margin-left: 0;
  }
}
.Question-Inner-Panel-Item:nth-child(n+3) {
  margin-top: 24px;
}
@media screen and (max-width: 540px) {
  .Question-Inner-Panel-Item:nth-child(n+3) {
    margin-top: 15px;
  }
}
.Question-Inner-Panel-Item:not(:nth-child(odd)) {
  margin-left: 30px;
}
@media screen and (max-width: 540px) {
  .Question-Inner-Panel-Item:not(:nth-child(odd)) {
    margin-left: 0;
  }
}
.Question-Inner-Panel-Item-Left {
  width: 326px;
}
.Question-Inner-Panel-Item-Left-Img {
  width: 100%;
  padding-top: 58.89%;
}
.Question-Inner-Panel-Item-Content {
  position: relative;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
}
@media screen and (max-width: 540px) {
  .Question-Inner-Panel-Item-Content {
    padding-top: 16px;
    padding-left: 14px;
    padding-bottom: 16px;
    padding-right: 14px;
  }
}
.Question-Inner-Panel-Item-Content-Border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #da75a7;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}
.Question-Inner-Panel-Item-Content-Title {
  width: 100%;
  letter-spacing: 0.14em;
  color: #d96ea3;
  font-size: 16px;
}
@media screen and (max-width: 540px) {
  .Question-Inner-Panel-Item-Content-Title {
    font-size: 16px;
  }
}
.Question-Inner-Panel-Item-Content-Title.column {
  font-size: 13px;
}
.Question-Inner-Panel-Item-Content-Dot {
  margin-top: 10px;
  width: 100%;
}
.Question-Inner-Panel-Item-Content-Description {
  position: relative;
  margin-top: 12px;
  width: 100%;
  letter-spacing: 0.1em;
  line-height: 1.5;
  color: #707070;
  font-size: 13px;
}
@media screen and (max-width: 540px) {
  .Question-Inner-Panel-Item-Content-Description {
    font-size: 12px;
  }
}
/* ---------------------------- */
/* --- StaffSection --- */
/* ---------------------------- */
.StaffSection {
  padding-top: 56px;
  padding-bottom: 70px;
  background: #fff8fa;
}
@media screen and (max-width: 540px) {
  .StaffSection {
    padding-bottom: 40px;
  }
}
.Staff-Inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}
@media screen and (max-width: 540px) {
  .Staff-Inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.Staff-Inner-Headline {
  max-width: 481px;
}
@media screen and (max-width: 540px) {
  .Staff-Inner-Headline {
    max-width: 209px;
  }
}
.Staff-Inner-Dot {
  margin-top: 16px;
  max-width: 481px;
}
@media screen and (max-width: 540px) {
  .Staff-Inner-Dot {
    max-width: 115px;
  }
}
.Staff-Inner-Content {
  display: flex;
}
@media screen and (max-width: 540px) {
  .Staff-Inner-Content {
    flex-wrap: wrap;
  }
}
.Staff-Inner-Content-List {
  margin-top: 36px;
  flex-basis: 45%;
}
@media screen and (max-width: 540px) {
  .Staff-Inner-Content-List {
    flex-basis: 100%;
  }
}
.Staff-Inner-Content-List-Item:not(:first-child) {
  margin-top: 45px;
}
.Staff-Inner-Content-List-Item-Box {
  border-left: 1px solid #707070;
  padding-left: 10px;
}
@media screen and (max-width: 540px) {
  .Staff-Inner-Content-List-Item-Box {
    border-left: none;
    padding-left: 0;
  }
}
.Staff-Inner-Content-List-Item-Box-Title {
  color: #202124;
  font-style: italic;
  font-size: 14px;
}
@media screen and (max-width: 540px) {
  .Staff-Inner-Content-List-Item-Box-Title.sp-w100 {
    border-bottom: 1px solid #707070;
    width: 100px;
    padding-bottom: 4px;
  }
}
@media screen and (max-width: 540px) {
  .Staff-Inner-Content-List-Item-Box-Title.sp-w75 {
    border-bottom: 1px solid #707070;
    width: 75px;
    padding-bottom: 4px;
  }
}
@media screen and (max-width: 540px) {
  .Staff-Inner-Content-List-Item-Box-Title.sp-w214 {
    border-bottom: 1px solid #707070;
    width: 248px;
    padding-bottom: 4px;
  }
}
.Staff-Inner-Content-List-Item-Box-List {
  margin-top: 8px;
  display: flex;
}
.Staff-Inner-Content-List-Item-Box-List-Item {
  display: flex;
  align-items: center;
  width: 33.33%;
}
.Staff-Inner-Content-List-Item-Box-List-Item-Img {
  border-radius: 50%;
  width: 40px;
}
.Staff-Inner-Content-List-Item-Box-List-Item-Title {
  margin-left: 20px;
  color: #202124;
  font-weight: bold;
  font-size: 24px;
}
@media screen and (max-width: 540px) {
  .Staff-Inner-Content-List-Item-Box-List-Item-Title {
    font-size: 16px;
  }
}
.Staff-Inner-Content-List-Item-Text {
  margin-top: 20px;
  line-height: 21px;
  font-size: 14px;
}
@media screen and (max-width: 540px) {
  .Staff-Inner-Content-List-Item-Text {
    font-size: 13px;
  }
}
.Staff-Inner-Content-Right {
  margin-left: 54px;
  position: relative;
  flex: 1;
}
@media screen and (max-width: 540px) {
  .Staff-Inner-Content-Right {
    margin-left: 0;
    margin-top: 45px;
    flex-basis: 100%;
  }
}
.Staff-Inner-Content-Right-Img {
  border-radius: 6px;
  width: 100%;
  padding-top: 102.7%;
}
.Staff-Inner-Content-Right-Title {
  position: absolute;
  left: 24px;
  bottom: 24px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  transform: translateY(-50%);
}
@media screen and (max-width: 1060px) {
  .Staff-Inner-Content-Right-Title {
    bottom: inherit;
    top: 50%;
  }
}
@media screen and (max-width: 540px) {
  .Staff-Inner-Content-Right-Title {
    bottom: 12px;
    top: inherit;
    font-size: 16px;
  }
}
/* ---------------------------- */
/* --- ExperienceSection --- */
/* ---------------------------- */
.ExperienceSection {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 540px) {
  .ExperienceSection {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.Experience-Inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}
.Experience-Inner-Headline {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}
@media screen and (max-width: 540px) {
  .Experience-Inner-Headline {
    max-width: 327px;
  }
}
.Experience-Inner-Panel {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 540px) {
  .Experience-Inner-Panel {
    border: 4px solid #fff;
    margin-top: 48px;
    padding: 6px;
    height: 491px;
    overflow-y: scroll;
  }
}
.Experience-Inner-Panel-Item {
  margin-left: 0;
  width: calc((100% - 30px) / 2);
}
@media screen and (max-width: 540px) {
  .Experience-Inner-Panel-Item:nth-child(1) {
    margin-top: 108px;
  }
}
.Experience-Inner-Panel-Item:nth-child(2) {
  margin-left: 30px;
}
@media screen and (max-width: 1036px) {
  .Experience-Inner-Panel-Item:nth-child(2) {
    margin-top: 124px;
    margin-left: 0;
  }
}
.Experience-Inner-Panel-Item:nth-child(3) {
  margin-top: 165px;
}
@media screen and (max-width: 1036px) {
  .Experience-Inner-Panel-Item:nth-child(3) {
    margin-top: 124px;
  }
}
.Experience-Inner-Panel-Item:nth-child(4) {
  margin-top: 165px;
  margin-left: 30px;
}
@media screen and (max-width: 1036px) {
  .Experience-Inner-Panel-Item:nth-child(4) {
    margin-top: 124px;
    margin-left: 0;
  }
}
@media screen and (max-width: 1036px) {
  .Experience-Inner-Panel-Item {
    width: 100%;
  }
}
.Experience-Inner-Panel-Item-Content {
  position: relative;
  padding-top: 50px;
  padding-bottom: 35px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
}
@media screen and (max-width: 1036px) {
  .Experience-Inner-Panel-Item-Content {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 540px) {
  .Experience-Inner-Panel-Item-Content {
    padding-top: 48px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 35px;
  }
}
.Experience-Inner-Panel-Item-Content-Baloon {
  position: absolute;
  top: -77px;
  right: 0;
  width: 469px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 6px;
  border-bottom: 1px solid #52453c;
  background: #52453c;
}
@media screen and (max-width: 1036px) {
  .Experience-Inner-Panel-Item-Content-Baloon {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .Experience-Inner-Panel-Item-Content-Baloon {
    flex-wrap: wrap;
  }
}
.Experience-Inner-Panel-Item-Content-Baloon-ImgBox {
  position: absolute;
  top: -46px;
  left: -50px;
  width: 113px;
}
@media screen and (max-width: 1036px) {
  .Experience-Inner-Panel-Item-Content-Baloon-ImgBox {
    top: -14px;
    left: 0;
    width: 80px;
  }
}
@media screen and (max-width: 540px) {
  .Experience-Inner-Panel-Item-Content-Baloon-ImgBox {
    top: -25px;
    left: 10px;
  }
}
.Experience-Inner-Panel-Item-Content-Baloon-ImgBox-Img {
  width: 100%;
  padding-top: 100%;
}
.Experience-Inner-Panel-Item-Content-Baloon-Role {
  margin-right: 24px;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 540px) {
  .Experience-Inner-Panel-Item-Content-Baloon-Role {
    margin-right: 0;
    margin-left: auto;
    width: 67%;
    height: 14px;
    font-size: 12px;
  }
}
.Experience-Inner-Panel-Item-Content-Baloon-Title {
  color: #fff;
  font-size: 16px;
}
@media screen and (max-width: 540px) {
  .Experience-Inner-Panel-Item-Content-Baloon-Title {
    margin-left: auto;
    width: 67%;
    height: 16px;
    font-size: 14px;
  }
}
.Experience-Inner-Panel-Item-Content-Baloon-Arrow {
  position: absolute;
  bottom: -25px;
  width: 32px;
  height: 28px;
  border-top: 45px solid #52453c;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 0px solid transparent;
}
@media screen and (max-width: 540px) {
  .Experience-Inner-Panel-Item-Content-Baloon-Arrow {
    bottom: -20px;
    border-top-width: 28px;
    border-left-width: 18px;
    border-right-width: 18px;
  }
}
.Experience-Inner-Panel-Item-Content-Flg1 {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 74px solid #fc3d9a;
  border-bottom: 74px solid transparent;
}
@media screen and (max-width: 540px) {
  .Experience-Inner-Panel-Item-Content-Flg1 {
    border-left-width: 55px;
    border-bottom-width: 55px;
  }
}
.Experience-Inner-Panel-Item-Content-FlgIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  transform: translate(12px, 16px);
}
@media screen and (max-width: 540px) {
  .Experience-Inner-Panel-Item-Content-FlgIcon {
    width: 10px;
  }
}
.Experience-Inner-Panel-Item-Content-Description {
  position: relative;
  margin-top: 12px;
  width: 100%;
  line-height: 1.5;
  color: #51443c;
  font-size: 14px;
}
@media screen and (max-width: 540px) {
  .Experience-Inner-Panel-Item-Content-Description {
    font-size: 12px;
  }
}
/* ---------------------------- */
/* --- NoteSection --- */
/* ---------------------------- */
.NoteSection {
  background: #da75a7;
}
.Note-Inner {
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  max-width: 1080px;
}
@media screen and (max-width: 540px) {
  .Note-Inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.Note-Inner-Text {
  color: #fff;
  font-size: 14px;
}
