// out: index.css
@import "../Components/*";
/* ---------------------------- */
/* --- MainSection --- */
/* ---------------------------- */
.MainSection
  background: #FFF8FA
.MainSection2
  background: #FFF8FA
/* ---------------------------- */
/* --- HeroSection --- */
/* ---------------------------- */
.HeroSection
  background: url('../../images/hero-bg.png') no-repeat;
  background-position: center;
  background-size: cover;
  @media SP
    background-position: right;
.Hero
  position: relative;
  padding-top: 246px;
  padding-bottom: 252px;
  @media SP
    padding-top 180px
    padding-bottom 110px
  &-Inner
    margin-left: 18.05%;
    max-width: 380px;
    @media SP
      margin-left 0
      margin-right 25px
    &-Content
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      max-width: 658px;
      @media SP
        justify-content: flex-end;
      &-Headline
        width 100%
        text-align: center
        color: #fff
        font-size: 17px
        @media SP
          text-align: right;
          font-size: 11px
      &-ImgBox
        margin-top 10px
        max-width: 356px
        @media SP
          max-width: 192px
/* ---------------------------- */
/* --- AboutSection --- */
/* ---------------------------- */
.AboutSection
  padding-top: 70px
  padding-bottom 120px
  background: #FFF8FA
  @media SP
    padding-top 56px
    padding-bottom 60px
.About
  &-Inner
    margin-left: auto;
    margin-right: auto;
    max-width: 1052px
    @media ABOUT
      padding-left 24px
      padding-right 24px
    &-Headline
      margin-left: auto;
      margin-right: auto;
      max-width: 154px
      @media SP
        max-width: 126px
    &-CardGroup
      margin-top: 80px
      @media SP
        margin-top 40px
      &-Item
        border: 2px solid #D96EA3
        padding-top 56px
        padding-bottom 56px
        position: relative;
        width: 100%
        background: #FEEFF2
        &:nth-child(2)
          margin-top 48px
        &-Border
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border: 1px solid #d96ea3;
          width: calc(100% - 8px);
          height: calc(100% - 8px);
        &-Number
          text-align: center;
          color: #D96EA3
          font-size: 48px
          @media SP
            font-size: 36px
        &-Headline
          margin-top: 30px
          letter-spacing: 0.14em
          text-align: center;
          font-size: 18px
          @media SP
            margin-left: auto;
            margin-right: auto;
            max-width: 267px
            font-size: 17px
          &-TextSp
            &-Text
              padding-left 7px
              padding-right 7px
              display: inline
              background: #da75a7;
              color: #fff;

        &-Description
          margin-top 20px
          width: 100%
          letter-spacing: 0.06em
          line-height: 21px
          text-align: center;
          color: #242424
          font-size: 14px
          @media SP
            margin-top 30px
            padding-left 10px
            padding-right 10px
            letter-spacing: 0.03em
            font-size: 13px
    &-Box
      margin-top 48px
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      @media SP
        margin-top 36px
        flex-wrap: wrap;
      &-Btn
        position: relative;
        display: block;
        width: 327px;
        padding: 22px 0;
        text-align: center;
        border-radius: 3px
        background: #52453C
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        width: 327px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
        @media SP
          width: 100%
        &-Icon
          position: absolute;
          top: 50%;
          right: 22px;
          width: 12px;
          transform: translateY(-50%);
        &.green
          background: #62CB54
        &.pink
          background: #DA75A7
        &:nth-child(2)
          margin-left 24px
          @media SP
            margin-top 16px
            margin-left 0
/* ---------------------------- */
/* --- VoiceSection --- */
/* ---------------------------- */
.VoiceSection
  padding-bottom 80px
  background: #FFF8FA
  @media SP
    padding-bottom 80px
.Voice
  &-Inner
    margin-left: auto;
    margin-right: auto;
    &-Headline
      margin-left: auto;
      margin-right: auto;
      max-width: 136px
      @media SP
        max-width: 115px
    &-CardGroup
      margin-top: 60px
      @media SP
        margin-top 40px
      &-Wrapper
        display: flex;
        &-Slide
          margin-left: 60px
          @media SP
            margin-left 20px
          &.one
            width 255px
          &.two
            width 270px
          &.three
            width 302px
          &.four
            width 255px
          &.five
            width 271px
          &-Item
            width 100%

/* ---------------------------- */
/* --- MeritSection --- */
/* ---------------------------- */
.MeritSection
  padding-bottom: 90px;
  @media SP
    padding-top 0
    padding-bottom 0
    padding-left: 24px
    padding-right: 24px
    background: #feeff2
.Merit
  &-Inner
    margin-left: auto;
    margin-right: auto;
    padding-top 40px
    padding-bottom 40px
    padding-left 40px
    padding-right 40px
    max-width: 1080px
    background: #FEEFF2
    @media SP
      padding-top 40px
      padding-bottom 60px
      padding-left 0
      padding-right 0
    &-Headline
      margin-left: auto;
      margin-right: auto;
      max-width: 140px
      @media SP
        max-width: 115px
    &-List
      margin-top: 80px;
      margin-left: auto;
      margin-right: auto;
      padding-top 24px
      padding-bottom 24px
      padding-left 28px
      padding-right 28px
      display: flex;
      flex-wrap: wrap;
      background: #fff
      @media SP
        margin-top 40px
        padding-left 20px
        padding-right 20px
      &-Item
        margin-top: 24px;
        margin-left: 0
        display: flex;
        align-items: center;
        width: calc((100% - 24px) / 2)
        @media SP
          margin-top 24px
          width 100%
          flex-wrap: wrap;
        &:first-child
          margin-top: 0;
        &:nth-child(2)
          margin-top: 0
          @media SP
            margin-top 24px
        &:nth-child(even)
          margin-left: 24px
          @media SP
            margin-left 0
        &-Number
          border: 1px solid #D96EA3
          border-radius: 4px
          min-width 98px
          height 98px
          line-height: 98px
          text-align: center;
          color: #D96EA3
          font-size: 48px;
          @media SP
            min-width: 34px
            height 34px
            line-height: 34px
            font-size: 18px
        &-Title
          margin-left 16px
          color: #D96EA3
          font-size: 14px;
        &-Box
          margin-left 24px
          @media SP
            margin-left 0
          &-Title
            color: #D96EA3
            font-size: 14px;
          &-Text
            margin-top 10px
            line-height: 24px
            color: #707070
            font-size: 12px

/* ---------------------------- */
/* --- RookieSection --- */
/* ---------------------------- */
.RookieSection
  padding-top: 45px
  padding-bottom 95px
  background: #feeff2
  @media SP
    padding-top 60px
    padding-bottom 60px
    background: #FFF8FA
.Rookie
  &-Inner
    margin-left: auto;
    margin-right: auto;
    &-Headline
      margin-left: auto;
      margin-right: auto;
      max-width: 174px
      @media SP
        max-width: 136px
    &-Btn
      position: relative;
      margin-top: 72px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 327px;
      padding: 22px 0;
      text-align: center;
      border-radius: 3px
      background: #52453C
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      &-Icon
        position: absolute;
        top: 50%;
        right: 22px;
        width: 12px;
        transform: translateY(-50%);
    &-Card
      margin-top 48px
      display: flex;
      @media ROOKIE1382
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
      &-Item
        position: relative
        width: 100%
        &-Img
          width: 100%;
          padding-top: 100%;
        &-Box
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding-top 45px
          width: calc(100% - 48px);
          height: calc(100% - 36px);
          background: rgba(255, 255, 255, 0.75);
          @media SP
            padding-top 32px
            padding-bottom 25px
          &-Number
            text-align: center;
            color: #D96EA3
            font-size: 48px
            @media SP
              font-size: 36px
          &-Title
            margin-top 25px
            text-align: center
            letter-spacing: 0.3em
            font-size: 22px
            @media ROOKIE1382
              font-size: 1.52vw
            @media SP
              font-size: 16px
            // &-Inner
            //   padding-top 4px
            //   padding-bottom 4px
            //   letter-spacing: 0.3em
            //   line-height: 35.2px
            //   background: #D96EA3;
            //   color: #fff
            //   font-size: 22px
            &-TextSp
              display: block;
              &-Text
                padding-left 7px
                padding-right 7px
                display: inline
                background: #D96EA3;
                color: #fff;
          &-Description
            position: relative;
            margin-top 48px
            letter-spacing: 0.14em
            line-height: 28px
            color: #707070
            font-size: 14px
            @media ROOKIE1382
              margin-top: 16px
              font-size: 0.97vw
            @media SP
              margin-top 12px
              height: 140px
              overflow-y: scroll;
              -webkit-overflow-scrolling: touch
              letter-spacing: inherit;
              line-height: 24px
              font-size: 13px
        &-Border
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border: 4px solid #D96EA3;
          width: calc(100% - 32px);
          height: calc(100% - 36px);
/* ---------------------------- */
/* --- RegisterSection --- */
/* ---------------------------- */
.RegisterSection
  padding-top: 100px
  @media SP
    padding-top 0
.Register
  &-Inner
    margin-left: auto;
    margin-right: auto;
    padding-left 8px
    padding-right 8px
    padding-top 48px
    padding-bottom 48px
    max-width: 1080px
    background: #FEEFF2
    @media SP
      padding-bottom 60px
    &-Headline
      margin-left: auto;
      margin-right: auto;
      max-width: 216px
      @media SP
        max-width: 168px
    &-Movie
      margin-top 48px
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px
      width 100%
      text-align: center
      @media SP
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        max-width: 100%;
        height: 180px;
      & video
        @media SP
          height: 100%
    &-List
      margin-top: 40px;
      display: flex;
      flex-wrap: nowrap;
      @media REGISTER
        flex-wrap: wrap
      @media SP
        margin-top 24px
        border: 4px solid #fff
        padding: 6px 6px 12px
      &-Item
        margin-left: 0
        width: calc((100% -36px * 3) / 4)
        &:nth-child(2)
          margin-left: 12px
          @media REGISTER
            margin-left: 12px
          @media SP
            margin-top 30px
            margin-left 0
        &:nth-child(3)
          margin-left: 12px
          @media REGISTER
            margin-top 12px
            margin-left: 0
          @media SP
            margin-top 30px
        &:nth-child(4)
          margin-left: 12px
          @media REGISTER
            margin-top 12px
            margin-left: 12px
          @media SP
            margin-top 30px
            margin-left 0
        @media REGISTER
          width: 48%
        @media SP
          width 100%
        &-Top
          width: 100%
          &-Img
            width: 100%
            padding-top: 73.84%
            @media SP
              padding-top: 50.48%
        &-Bottom
          position: relative;
          margin-left: auto;
          margin-right: auto;
          margin-top: 12px
          padding-top: 42px;
          padding-bottom: 30px;
          padding-left: 10px
          padding-right 10px
          min-height: 267px
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          background: #fff
          @media REGISTER
            min-height: inherit;
          @media SP
            padding-top 50px
            padding-left 18px
            padding-right 18px
            padding-bottom 20px
          &.one
            padding-bottom 63px
          &.three
            padding-bottom 25px
          &-Number
            position: absolute;
            top: -10px
            left: 50%
            transform: translate(-50%, -50%)
            border-radius: 50%;
            width: 75px;
            height: 75px;
            line-height: 75px;
            letter-spacing: 0.3em
            text-align: center;
            background: sub-color;
            color: #fff;
            font-family: 'din'
            font-size: 24px;
            @media SP
              width 55px
              height 55px
              line-height: 55px
              font-size: 20px
            &-Text
              margin-left 5px

          &-Title
            width: 100%
            text-align: center;
            letter-spacing: 0.14em
            line-height: 21px
            color: sub-color;
            font-size: 14px;
            &::after
              content: '';
              margin-left: auto;
              margin-right: auto;
              display: block;
              margin-top: 16px;
              width: 61px;
              height: 2px;
              background: #FC037D;
          &-Description
            margin-top: 16px
            width: 100%
            height: 181px
            display: flex
            justify-content: center
            align-items: center
            line-height: 17px;
            text-align: center
            color: #707070
            font-size: 12px;
            @media SP
              margin-left: auto
              margin-right: auto
              height: auto
              display: block
              font-size: 14px
            &.one
              height 89px
              @media SP
                height: auto;
            &.two
              height 121px
              @media SP
                height: auto;
            &.three
              height 143px
              @media SP
                height: auto;
            &.four
              height 119px
              @media SP
                height: auto;
          &-Action
            margin-top 50px
            width: 100%
            height: 42px
            display: none
            justify-content: center
            align-items: center
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16)
            background: #E91B7B
            @media SP
              display: flex
            &-Box
              display: flex
              flex-wrap: nowrap
              align-items: center
              &-IconBox
                margin-right 8px
                max-width: 24px
              &-Text
                line-height: 1.5
                letter-spacing: 0.1em
                color: #fff
                font-size: 12px
/* ---------------------------- */
/* --- SalarySection --- */
/* ---------------------------- */
.SalarySection
  padding-top: 100px
  padding-bottom 72px
  @media SP
    padding-top 0
    padding-bottom 0
.Salary
  &-Inner
    margin-left: auto;
    margin-right: auto;
    padding-left 8px
    padding-right 8px
    padding-top 48px
    padding-bottom 48px
    max-width: 1080px
    background: #FEEFF2
    @media SP
      padding-top 0
    &-Headline
      margin-left: auto;
      margin-right: auto;
      max-width: 172px
      @media SP
        max-width: 134px
    &-Movie
      margin-top 48px
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px
      width 100%
      text-align: center
      @media SP
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        max-width: 100%;
        height: 180px;
      & video
        @media SP
          height: 100%
    &-List
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      &-Item
        margin-top: 0
        width: 100%
        display: flex
        flex-wrap: nowrap
        @media SALARY975
          align-items: center;
        @media SP
          align-items: inherit;
        &:nth-child(1)
          @media SP
            background: url(../../images/salary-item01-sp.png) no-repeat;
            background-position: left;
            background-size: cover;
        &:nth-child(2)
          margin-top: 45px
          @media SP
            margin-top 24px
            background: url(../../images/salary-item02-sp.png) no-repeat;
            background-position: left;
            background-size: cover;
        &:nth-child(3)
          margin-top: 45px
          @media SP
            margin-top 24px
            background: url(../../images/salary-item03-sp.png) no-repeat;
            background-position: left;
            background-size: cover;
        &:nth-child(4)
          margin-top: 45px
          @media SP
            margin-top 24px
            background: url(../../images/salary-item04-sp.png) no-repeat;
            background-position: left;
            background-size: cover;
        &:nth-child(5)
          margin-top: 45px
          @media SP
            margin-top 24px
            background: url(../../images/salary-item05-sp.png) no-repeat;
            background-position: left;
            background-size: cover;
        &-Left
          flex: 0 0 302px
          @media SALARY975
            flex 0 0 20.97vw
          @media SP
            display: none
          &-Img
            width: 100%
            padding-top: 58.89%
            @media SP
              padding-top: 73.48%
        &-Right
          position: relative;
          margin-left: auto;
          margin-right: auto;
          margin-left: 12px
          padding-top: 56px;
          padding-bottom: 56px;
          padding-left: 82px
          padding-right 16px
          flex-grow: 5
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          background: #fff
          @media SALARY
            padding-top 28px
            padding-left: 40px
            padding-bottom 28px
          @media SALARY975
            padding-left: 2.77vw
          @media SP
            margin-left auto
            margin-right: inherit
            padding-top 24px
            padding-left 40px
            padding-bottom 24px
            flex-grow: inherit
            flex-wrap: wrap
            width: 69%
            background: rgba(255,255,255,0.9)
          &.one
            @media SALARY975
              padding-top: 1.94vw
              padding-bottom: 1.94vw
            @media SP
              padding-top 20px
              padding-bottom 20px
          &.two
            padding-top 30px
            padding-bottom 30px
            @media SALARY975
              padding-top: 1.94vw
              padding-bottom: 1.94vw
            @media SP
              padding-top 20px
              padding-bottom 20px
          &.three
            padding-top 42px
            padding-bottom 42px
            @media SALARY975
              padding-top: 1.94vw
              padding-bottom: 1.94vw
            @media SP
              padding-top 20px
              padding-bottom 20px
          &.four
            padding-top 50px
            padding-bottom 50px
            @media SALARY975
              padding-top: 1.94vw
              padding-bottom: 1.94vw
            @media SP
              padding-top 20px
              padding-bottom 20px
          &.five
            padding-top 49px
            padding-bottom 49px
            @media SALARY975
              padding-top: 1.94vw
              padding-bottom: 1.94vw
            @media SP
              padding-top 20px
              padding-bottom 20px
          &-Number
            position: absolute;
            top: 50%
            left: -10px
            transform: translate(-50%, -50%)
            border-radius: 50%;
            width: 75px;
            height: 75px;
            line-height: 75px;
            letter-spacing: 0.3em
            text-align: center;
            background: sub-color;
            color: #fff;
            font-family: 'din'
            font-size: 24px;
            @media SALARY
              width: 45px;
              height: 45px;
              line-height: 45px;
              font-size: 18px
            @media SP
              left: 0
            &-Text
              margin-left 5px

          &-Title
            min-width: 226px
            letter-spacing: 0.14em
            color: sub-color;
            font-size: 22px;
            @media SALARY
              font-size: 16px
            @media SALARY975
              min-width: 120px
              font-size: 1.52vw
            @media SP
              min-width: inherit
              width 100%
              font-size: 16px
          &-Border
            display: none
            @media SP
              display: block
              margin-top 8px
              width 30px
              height 2px
              background: #FC037D
          &-Description
            position: relative
            min-width: 330px
            padding-left 32px
            letter-spacing: 0.15em
            line-height: 16px;
            color: #464646
            font-size: 12px
            @media SALARY975
              min-width: inherit;
              font-size: 0.83vw
            @media SP
              margin-top 10px
              min-width: inherit
              width 100%
              padding-left 0
              font-weight: normal
              font-size: 11px
            &::before
              content: '';
              position: absolute;
              top: 50%
              left: 0
              transform: translate(-50%, -50%)
              display: block;
              width: 2px;
              height: 80px;
              background: border-color;
              @media SP
                display: none
/* ---------------------------- */
/* --- Triangle --- */
/* ---------------------------- */
.Triangle
  width 100%
  background: #fff
/* ---------------------------- */
/* --- MangaSection --- */
/* ---------------------------- */
.MangaSection
  background: #fff
.Manga
  &-Inner
    margin-left: auto;
    margin-right: auto;
    padding-top 25px
    padding-bottom 90px
    max-width: 1080px
    @media SP
      padding-top 10px
      padding-left 24px
      padding-right 24px
      padding-bottom 60px
    &-Headline
      margin-left: auto;
      margin-right: auto;
      max-width: 627px
      @media SP
        max-width: 325px
    &-Box
      margin-top 24px
      width 100%
/* ---------------------------- */
/* --- QuestionSection --- */
/* ---------------------------- */
.QuestionSection
  padding-top: 100px
  padding-bottom: 100px
  background: #FEEFF2
  @media SP
    padding-top 60px
    padding-bottom 60px
.Question
  &-Inner
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px
    &-Headline
      margin-left: auto;
      margin-right: auto;
      max-width: 236px
      @media SP
        max-width: 184px
    &-Card
      margin-top 120px
      display: flex;
      flex-wrap: wrap;
      max-width: 1080px
      @media SP
        margin-top 50px
      &-Item
        position: relative
        width: 100%
        display: flex;
        justify-content: flex-end
        @media SP
          flex-wrap: wrap
          padding-left 16px
          padding-right 16px
        &-Left
          position: absolute
          top: 45%;
          left: 0;
          transform: translate(0, -50%);
          width: 48.33%
          @media QA
            top: 28%
          @media SP
            position: relative
            top: inherit
            left: inherit
            transform: none
            width 100%
          &-Img
            width: 100%;
            padding-top: 79.31%;
            border-radius: 8px
            @media SP
              padding-top 52.9%
              border-radius: 0
        &-Right
          position: relative;
          border: 2px solid #DA75A7
          padding-top 64px
          padding-bottom 30px
          padding-left: 28px
          padding-right: 28px
          min-width: 590px
          max-width: 590px
          background: #fff
          @media QA
            padding-top: 40px
            padding-left: 80px
            min-width: inherit;
          @media SP
            margin-top 48px
            padding-top 50px
            padding-left 12px
            padding-right 12px
            padding-bottom 20px
          &-Description
            line-height: 28px
            color: #52453C
            font-size: 14px
            @media SP
              line-height: 26px
              letter-spacing: 0.06em
              font-size: 13px
          &-Badge
            position: absolute;
            top: 0
            left: 50%
            transform: translate(-50%, -50%)
            width: 353px
            height: 54px
            line-height: 54px
            letter-spacing: 0.3em
            text-align: center
            background: #DA75A7
            color: #fff
            font-size: 17px
            z-index: 1
            @media SP
              width 300px
              height: 48px
              letter-spacing: 0.1em
              line-height: 48px
              font-size: 14px
          &-Border
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #d96ea3;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
    &-Panel
      margin-top: 100px;
      display: flex;
      flex-wrap: wrap;
      @media SP
        margin-top 30px
        padding-left: 16px
        padding-right: 16px
      &-Item
        border: 2px solid #DA75A7
        margin-left: 0
        position: relative;
        width: calc((100% - 30px) / 2)
        display: flex
        flex-wrap: nowrap
        @media SP
          width 100%
        &:nth-child(2)
          @media SP
            margin-top 15px
            margin-left 0
        &:nth-child(n+3)
          margin-top: 24px
          @media SP
            margin-top 15px
        &:not(:nth-child(odd))
          margin-left 30px
          @media SP
            margin-left 0
        &-Left
          width: 326px
          &-Img
            width: 100%
            padding-top: 58.89%
        &-Content
          position: relative;
          padding-top: 26px;
          padding-bottom: 26px;
          padding-left: 22px
          padding-right 22px
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          background: #fff
          @media SP
            padding-top 16px
            padding-left 14px
            padding-bottom 16px
            padding-right 14px
          &-Border
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #DA75A7;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
          &-Title
            width: 100%
            letter-spacing: 0.14em
            color: #D96EA3;
            font-size: 16px;
            @media SP
              font-size: 16px
            &.column
              font-size: 13px
          &-Dot
            margin-top 10px
            width 100%
          &-Description
            position: relative
            margin-top 12px
            width: 100%
            letter-spacing: 0.1em
            line-height: 1.5;
            color: #707070
            font-size: 13px;
            @media SP
              font-size: 12px
/* ---------------------------- */
/* --- StaffSection --- */
/* ---------------------------- */
.StaffSection
  padding-top 56px
  padding-bottom 70px
  background: #FFF8FA
  @media SP
    padding-bottom 40px
.Staff
  &-Inner
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px
    @media SP
      padding-left 24px
      padding-right 24px
    &-Headline
      max-width: 481px
      @media SP
        max-width: 209px
    &-Dot
      margin-top 16px
      max-width: 481px
      @media SP
        max-width: 115px
    &-Content
      display: flex;
      @media SP
        flex-wrap: wrap;
      &-List
        margin-top 36px
        flex-basis: 45%
        @media SP
          flex-basis: 100%
        &-Item
          &:not(:first-child)
            margin-top 45px
          &-Box
            border-left: 1px solid #707070
            padding-left 10px
            @media SP
              border-left: none
              padding-left 0
            &-Title
              color: #202124
              font-style: italic;
              font-size: 14px
              &.sp-w100
                @media SP
                  border-bottom: 1px solid #707070
                  width 100px
                  padding-bottom 4px
              &.sp-w75
                @media SP
                  border-bottom: 1px solid #707070
                  width 75px
                  padding-bottom 4px
              &.sp-w214
                @media SP
                  border-bottom: 1px solid #707070
                  width 248px
                  padding-bottom 4px
            &-List
              margin-top 8px
              display: flex;
              &-Item
                display: flex;
                align-items: center;
                width 33.33%
                &-Img
                  border-radius: 50%
                  width 40px
                &-Title
                  margin-left 20px
                  color: #202124
                  font-weight: bold;
                  font-size: 24px
                  @media SP
                    font-size: 16px
          &-Text
            margin-top 20px
            line-height: 21px
            font-size: 14px
            @media SP
              font-size: 13px
      &-Right
        margin-left 54px
        position: relative;
        flex: 1
        @media SP
          margin-left 0
          margin-top 45px
          flex-basis: 100%
        &-Img
          border-radius: 6px
          width 100%
          padding-top: 102.7%
        &-Title
          position: absolute;
          left: 24px
          bottom: 24px
          color: #fff
          font-weight: bold;
          font-size: 24px
          transform: translateY(-50%);
          @media STAFF1060
            bottom: inherit
            top: 50%
          @media SP
            bottom: 12px
            top: inherit;
            font-size: 16px
/* ---------------------------- */
/* --- ExperienceSection --- */
/* ---------------------------- */
.ExperienceSection
  padding-top: 100px
  padding-bottom: 100px
  @media SP
    padding-top 80px
    padding-bottom 80px
.Experience
  &-Inner
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px
    &-Headline
      margin-left: auto;
      margin-right: auto;
      max-width: 650px
      @media SP
        max-width: 327px
    &-Panel
      margin-top: 200px;
      display: flex;
      flex-wrap: wrap;
      @media SP
        border: 4px solid #fff
        margin-top 48px
        padding: 6px
        height: 491px
        overflow-y: scroll
      &-Item
        margin-left: 0
        width: calc((100% - 30px) / 2)
        &:nth-child(1)
          @media SP
            margin-top 108px
        &:nth-child(2)
          margin-left: 30px
          @media EXPERIENCE
            margin-top 124px
            margin-left: 0
        &:nth-child(3)
          margin-top: 165px
          @media EXPERIENCE
            margin-top: 124px
        &:nth-child(4)
          margin-top 165px
          margin-left: 30px
          @media EXPERIENCE
            margin-top 124px
            margin-left: 0
        @media EXPERIENCE
          width 100%
        &-Content
          position: relative;
          padding-top: 50px;
          padding-bottom: 35px;
          padding-left: 40px
          padding-right 40px
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          background: #fff
          @media EXPERIENCE
            padding-top 32px
            padding-bottom 32px
          @media SP
            padding-top 48px
            padding-left 14px
            padding-right 14px
            padding-bottom 35px
          &-Baloon
            position: absolute;
            top: -77px
            right: 0
            width: 469px
            height: 67px
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            border-radius: 6px
            border-bottom: 1px solid #52453c
            background: sub-color
            @media EXPERIENCE
              width 100%
            @media SP
              flex-wrap: wrap
            &-ImgBox
              position: absolute
              top: -46px
              left: -50px
              width 113px
              @media EXPERIENCE
                top: -14px
                left: 0
                width: 80px
              @media SP
                top: -25px
                left: 10px
              &-Img
                width: 100%
                padding-top 100%
            &-Role
              margin-right 24px
              color: #fff
              font-size: 14px
              @media SP
                margin-right 0
                margin-left: auto
                width 67%
                height: 14px
                font-size: 12px
            &-Title
              color: #fff
              font-size: 16px
              @media SP
                margin-left: auto
                width 67%
                height: 16px
                font-size: 14px
            &-Arrow
              position: absolute
              bottom: -25px
              width: 32px;
              height: 28px;
              border-top: 45px solid #52453C;
              border-left: 30px solid transparent;
              border-right: 30px solid transparent;
              border-bottom: 0px solid transparent;
              @media SP
                bottom: -20px
                border-top-width: 28px
                border-left-width: 18px
                border-right-width: 18px
          &-Flg1
            position: absolute;
            top: 0;
            left: 0;
            border-left: 74px solid #FC3D9A;
            border-bottom: 74px solid transparent;
            @media SP
              border-left-width: 55px
              border-bottom-width: 55px
          &-FlgIcon
            position: absolute;
            top: 0
            left: 0
            width: 16px
            transform: translate(12px, 16px)
            @media SP
              width 10px
          &-Description
            position: relative
            margin-top 12px
            width: 100%
            line-height: 1.5;
            color: #51443C
            font-size: 14px;
            @media SP
              font-size: 12px
/* ---------------------------- */
/* --- NoteSection --- */
/* ---------------------------- */
.NoteSection
  background: #da75a7
.Note
  &-Inner
    margin-left: auto;
    margin-right: auto;
    padding-top 16px
    padding-bottom 16px
    max-width: 1080px
    @media SP
      padding-left 24px
      padding-right 24px
    &-Text
      color: #fff
      font-size: 14px
