// out: login-top.css
@import "../Components/*";
/* ---------------------------- */
/* --- MainSection --- */
/* ---------------------------- */
.MainSection.Page
  padding-top 190px
  padding-bottom 130px
  background: #FEEFF2
  @media SP
    padding-top 115px
    padding-left 24px
    padding-right 24px
    padding-bottom 70px

/* ---------------------------- */
/* --- LoginTopSection --- */
/* ---------------------------- */
.LoginTopSection
  margin-left: auto
  margin-right: auto
  padding-top 60px
  padding-bottom 90px
  max-width: 1040px
  width 100%
  background: #FFFAFB
  border-top: 2px solid #52453C
  border-bottom: 2px solid #52453C
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  @media SP
    padding-top 30px
    padding-left: 30px
    padding-right: 30px
    padding-bottom 60px
.LoginTop
  &-Inner
    margin-left: auto;
    margin-right: auto;
    max-width: 720px
    &-Headline
      margin-left: auto;
      margin-right: auto;
      max-width: 146px
    &-Card
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-wrap: wrap;
      @media SP
        margin-top 45px
      &-Item
        position: relative
        display: flex;
        align-items: center;
        width: calc((100% - 60px) / 2)
        @media SP
          width 100%
        &:nth-child(2)
          margin-left 60px
          @media SP
            margin-top 45px
            margin-left 0
        &-Img
          padding-top 116.96%
          width: 100%
          @media SP
            padding-top 106.74%
        &-Title
          position: absolute
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width 210px
          text-align: center;
          letter-spacing: 0.2em
          line-height: 30px
          color: #fff
          font-size: 22px;
          @media SP
            width 100%
            line-height: 24px
            font-size: 18px
        &-Border
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border: 4px solid #fff;
          width: calc(100% - 18px);
          height: calc(100% - 24px);
