// out: login-stores.css
@import "../Components/*";
/* ---------------------------- */
/* --- MainSection --- */
/* ---------------------------- */
.MainSection.Page
  padding-top 190px
  padding-bottom 130px
  background: #EFF3FE
  @media SP
    padding-top 115px
    padding-left 24px
    padding-right 24px
    padding-bottom 70px
/* ---------------------------- */
/* --- LoginSection --- */
/* ---------------------------- */
.LoginSection
  margin-left: auto
  margin-right: auto
  padding-top 60px
  padding-bottom 90px
  max-width: 1040px
  width 100%
  background: #FFFAFB
  border-top: 2px solid #52453C
  border-bottom: 2px solid #52453C
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  @media SP
    padding-top 30px
    padding-bottom 60px
.Login
  &-Inner
    margin-left: auto;
    margin-right: auto;
    max-width: 916px
    &-Headline
      margin-left: auto;
      margin-right: auto;
      max-width: 144px
    &-Box
      margin-top 60px
      display: flex
      @media SP
        margin-top 45px
        flex-wrap: wrap
      &-Left
        width: 100%
        max-width: 360px
        @media SP
          padding-left: 30px
          padding-right: 30px
        &-Content
          &-InputGroup
            margin-top 35px
            @media SP
              margin-top 20px
            &:nth-child(1)
              margin-top 0
            &-TextInput
              border-radius: 4px
              border: none
              width 100%
              height: 55px
              letter-spacing: 0.1em
              padding-left: 20px
              padding-right 20px
              background: #F4F4F4
              color: #5B4F46
              font-size: 14px
              @media SP
                height 45px
                padding-left 10px
                padding-right 10px
                font-size: 16px
          &-BtnGroup
            margin-top: 50px
            width: 100%
            display: flex
            @media SP
              margin-top 40px
            &-SubmitBtn
              border-radius: 8px
              width 100%
              max-width: 320px
              height: 55px
              box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.16)
              background: #5b4f46
              letter-spacing: 0.22em
              text-align: center
              line-height: 55px
              color: #fff
              font-size: 16px
              @media SP
                max-width: 266px
                height 45px
                line-height: 45px
          &-Action1
            margin-top 16px
            max-width: 320px
            text-align: right;
            letter-spacing: 0.22em;
            line-height: 21px
            font-size: 16px;
            @media SP
              margin-top 36px
              color: #5B4F46
              font-size: 14px
            &-Link
              display: inline-block
              text-decoration: underline;
              @media SP
                color: #5B4F46
          &-Action2
            margin-top 10px
            max-width: 320px
            text-align: right;
            letter-spacing: 0.22em;
            line-height: 21px
            font-size: 16px;
            @media SP
              color: #5B4F46
              font-size: 14px
            &-Link
              display: inline-block
              text-decoration: underline;
              @media SP
                color: #5B4F46
      &-Right
        margin-left: auto;
        max-width: 515px
        background: #fff
        padding-bottom 30px
        flex-grow: 5
        @media SP
          margin-top 50px
          width 100%
          padding-left: 8px
          padding-right: 8px
          background: none
        &-List
          margin-left: auto;
          margin-right: auto;
          padding-left 30px
          padding-right 30px
          @media SP
            padding-top 30px
            padding-bottom 30px
            background: #fff
          &-Item
            position: relative
            line-height: 18px
            letter-spacing: 0.06em
            color: #52453C
            font-size: 14px
            @media SP
              font-size: 12px
            &:nth-child(odd)
              border-bottom: 1px solid #51443B
              margin-top 15px
              padding-bottom 15px
              cursor: pointer
              @media SP
                margin-top 10px
                padding-bottom 8px
            &:nth-child(odd):before
              content: '';
              position: absolute;
              top: 28%;
              right: 10px;
              background-image: url(../../images/contents-merit-arrow.png);
              background-position: center;
              background-size: cover;
              width: 13px;
              height: 11px;
              display: block;
            &:nth-child(even)
              padding-top 30px
              padding-left 30px
              padding-bottom 15px
              display: none
              @media SP
                border-bottom: 1px solid #51443B
                padding-top 10px
                padding-left 0
                padding-bottom 10px
            &:nth-child(1)
              border-top: 1px solid #51443B
              padding-top: 10px
              margin-top: 20px
              @media SP
                padding-top 8px
            &-Link
              display: inline-block;
              color: #e91b7b
            &-Title
              line-height: 28px
              letter-spacing: 0.01em
              color: #52453C
              font-size: 16px
              @media SP
                line-height: 18px
                font-size: 14px
            &-Text
              line-height: 18px
              letter-spacing: 0.06em
              color: #52453C
              font-size: 14px
              @media SP
                font-size: 12px
              &-SubList
                margin-top 20px
                margin-left: auto;
                display: flex;
                justify-content: flex-end;
                @media SP
                  justify-content: flex-start;
                &-Item
                  letter-spacing: normal;
                  font-size: 13px
                  @media SP
                    font-size: 12px
                  &:nth-child(2)
                    margin-left 40px
                    @media SP
                      margin-left 20px
                  &-Link
                    display: inline-block;
                    color: #e91b7b
