// out: member-entry.css
@import "../Components/*";
/* ---------------------------- */
/* --- MainSection --- */
/* ---------------------------- */
.MainSection.Page
  padding-top 190px
  padding-bottom 130px
  background: #FEEFF2
  @media SP
    padding-top 115px
    padding-left 24px
    padding-right 24px
    padding-bottom 70px

/* ---------------------------- */
/* --- MemberEntrySection --- */
/* ---------------------------- */
.MemberEntrySection
  margin-left: auto
  margin-right: auto
  padding-top 60px
  padding-bottom 90px
  max-width: 1040px
  width 100%
  background: #FFFAFB
  border-top: 2px solid #52453C
  border-bottom: 2px solid #52453C
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  @media SP
    padding-top 30px
    padding-left: 30px
    padding-right: 30px
    padding-bottom 60px
.MemberEntry
  &-Inner
    margin-left: auto;
    margin-right: auto;
    max-width: 720px
    &-Headline
      margin-left auto
      margin-right: auto
      max-width: 314px
      @media SP
        max-width: 244px
    &-Form
      margin-top 60px
      @media SP
        margin-top 45px
      &-Headline
        border-bottom: 1px solid #51443C
        padding-bottom 16px
        letter-spacing: 0.28em
        line-height: 16px
        color: #51443C
        font-size: 24px
        @media SP
          font-size: 18px
      &-Content
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        @media SP
          margin-top 45px
        &-ColumnGroup
          margin-top 45px
          display: flex
          flex-wrap: nowrap
          @media SP
            margin-top 30px
            flex-wrap: wrap
          &-InputGroup
            width 47.91%
            max-width: 345px
            @media SP
              width 100%
            &:nth-child(2)
              margin-left: 4.16%
              @media SP
                margin-top 30px
                margin-left: 0
            &.hosoku
              display: flex
              align-items: flex-end
              @media SP
                margin-top 10px
            &-LabelText
              line-height: 22px
              color: #5B4F46
              font-size: 16px
              @media SP
                font-size: 14px
              &.hosoku
                font-size: 11px
            &-TextInput
              border: none
              margin-top 10px
              border-radius: 4px
              width 100%
              height: 55px
              letter-spacing: 0.1em
              padding-left: 20px
              padding-right 20px
              border-color: #fff
              background: #F4F4F4
              color: #5B4F46
              font-size: 14px
              @media SP
                height 45px
                padding-left 10px
                padding-right 10px
                font-size: 16px
            &-SelectInput
              margin-top 10px
              position: relative
              &:before
                content: '';
                position: absolute;
                top: 48%;
                right: 15px;
                background-image: url("../../images/select-arrow.png");
                background-position: center;
                background-size: cover;
                width: 11px;
                height: 10px;
                display: block;
                @media SP
                  top: 44%
                  right: 20px
              &-Item
                border: none;
                border-radius: 4px;
                width: 100%;
                height: 55px;
                letter-spacing: 0.1em;
                padding-left: 20px;
                padding-right: 20px;
                background: #F4F4F4
                color: #5B4F46;
                font-size: 14px;
        &-InputGroup
          margin-top 45px
          @media SP
            margin-top 30px
          &:nth-child(1)
            margin-top 0
          &-LabelText
            margin-top 10px
            line-height: 22px
            color: #5B4F46
            font-size: 14px
          &-TextInput
            border-radius: 4px
            border: none
            width 100%
            height: 55px
            letter-spacing: 0.1em
            padding-left: 20px
            padding-right 20px
            background: #F4F4F4
            color: #5B4F46
            font-size: 14px
            @media SP
              height 45px
              padding-left 10px
              padding-right 10px
              font-size: 16px
          &-TextareaInput
            border: none
            border-radius: 4px
            width 100%
            height: 179px
            letter-spacing: 0.1em
            padding-top 20px
            padding-left: 20px
            padding-right 20px
            background: #F4F4F4
            color: #5B4F46
            font-size: 14px
            @media SP
              height: 235px
              padding-top 8px
              padding-left 10px
              padding-right 10px
              font-size: 16px
      &-BtnGroup
        margin-top: 50px
        width: 100%
        display: flex
        justify-content: center
        @media SP
          margin-top 40px
        &-SubmitBtn
          border-radius: 27.5px
          width 100%
          max-width: 275px
          height: 55px
          box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.16)
          background: #5b4f46
          letter-spacing: 0.22em
          line-height: 21px
          color: #fff
          font-size: 16px
          @media SP
            max-width: 202px
            height 45px
