// out: privacy.css
@import "../Components/*";
/* ---------------------------- */
/* --- MainSection --- */
/* ---------------------------- */
.MainSection.Page
  padding-top 190px
  padding-bottom 130px
  background: #FEEFF2
  @media SP
    padding-top 115px
    padding-left 24px
    padding-right 24px
    padding-bottom 70px

/* ---------------------------- */
/* --- PrivacySection --- */
/* ---------------------------- */
.PrivacySection
  margin-left: auto
  margin-right: auto
  padding-top 60px
  padding-bottom 90px
  max-width: 1040px
  width 100%
  background: #FFFAFB
  border-top: 2px solid #52453C
  border-bottom: 2px solid #52453C
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  @media SP
    padding-top 30px
    padding-left: 30px
    padding-right: 30px
    padding-bottom 60px
.Privacy
  &-Inner
    margin-left: auto;
    margin-right: auto;
    max-width: 720px
    &-Headline
      margin-left: auto;
      margin-right: auto;
      max-width: 382px
      @media SP
        max-width: 150px
    &-List
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      @media SP
        margin-top 45px
      &-Item
        &:nth-child(2)
          margin-top 60px
          @media SP
            margin-top 45px
        &-Title
          display: flex
          align-items: center
          line-height: 30px
          color: #5B4F46
          font-size: 22px;
          @media SP
            line-height: 24px
            font-size: 18px
          &-square
            margin-right 4px
            font-size: 12px
        &-Text
          margin-top 20px
          line-height: 22px
          color: #5B4F46
          font-size: 16px;
          @media SP
            line-height: 19px
            font-size: 13px
