// out: storelist.css
@import "../Components/*";
/* ---------------------------- */
/* --- MainSection --- */
/* ---------------------------- */
.MainSection.Page
  padding-top 190px
  padding-bottom 130px
  background: #FEEFF2
  @media SP
    padding-top 115px
    padding-left 24px
    padding-right 24px
    padding-bottom 70px

/* ---------------------------- */
/* --- AreaSection --- */
/* ---------------------------- */
.AreaSection
  position: relative;
  margin-left: auto
  margin-right: auto
  padding-top 30px
  padding-bottom 30px
  max-width: 1040px
  width 100%
  background: #FFFAFB
  border-top: 2px solid #52453C
  border-bottom: 2px solid #52453C
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  @media SP
    padding-left: 30px
    padding-right: 30px
  &-ShowIcon
    position: absolute;
    top: 33px
    right: 50px
    width: 30px
    height: 30px
    cursor: pointer
    @media SP
      right: 30px
      width 20px
      height 20px
.Area
  &-Inner
    margin-left: auto;
    margin-right: auto;
    max-width: 720px
    &-Headline
      &-Img
        max-width: 257px
        @media SP
          max-width: 200px
    &-Content
      display: none
    &-Keyword
      margin-top 30px
      @media SP
        margin-top 25px
      &-Headline
        letter-spacing: 0.28em
        line-height: 16px
        color: #51443C
        font-size: 18px
        @media SP
          font-size: 14px
      &-Box
        position: relative
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        @media SP
          margin-top 20px
        &-SearchInput
          border-radius: 4px;
          border: none;
          width 100%
          height: 55px;
          letter-spacing: 0.1em;
          padding-left: 20px;
          padding-right 55px
          background: #fff;
          color: #5b4f46;
          font-size: 14px;
          @media SP
            height 45px
            padding-right 45px
            font-size: 12px
        &-Btn
          position: absolute;
          top: 0;
          right: 0;
          width: 55px;
          height: 55px;
          line-height: 55px;
          padding: 0;
          border: none;
          border-radius: 0 4px 4px 0;
          background: #52453C
          vertical-align: middle;
          @media SP
            width 45px
            height 45px
            line-height: 45px
          &-Icon
            margin-left: auto
            margin-right: auto
            width 19px
            height 19px
    &-PF
      margin-top 60px
      @media SP
        margin-top 45px
      &-Headline
        letter-spacing: 0.28em
        line-height: 16px
        color: #51443C
        font-size: 18px
        @media SP
          font-size: 14px
      &-SPBox
        margin-top 20px
        margin-left: auto;
        margin-right: auto;
        display: none;
        flex-wrap: wrap;
        @media SP
          display: flex
        &-Item
          width 100%
          flex-wrap: wrap
          cursor: pointer
          &:nth-child(n+2)
            margin-top 12px
          &-Tab
            position: relative
            width 100%
            height: 63px
            display: flex
            justify-content: center;
            align-items: center;
            letter-spacing: 0.28em
            background: #fff
            color: #53463D
            cursor: pointer
            font-size: 13px
            &:before
              content: '';
              position: absolute;
              top: 50%;
              right: 10px;
              background-image: url(../../images/area-arrow-icon.png);
              background-position: center;
              background-size: cover;
              width: 11px;
              height: 3px;
              display: block;
            &-Wrap
              &-TitleBox
                text-align: center
              &-CountBox
                margin-top 2px
                text-align: center
          &-Sub
            width 100%
            display: none
            &-Item
              border-bottom: 1px solid #DBDBDB
              width: 100%
              height: 63px
              display: flex
              justify-content: center;
              align-items: center;
              letter-spacing: 0.28em
              background: #F8F8F8
              color: #53463D
              font-size: 13px
              cursor: pointer
              &:last-child
                border-bottom: none
              &-Wrap
                &-TitleBox
                  text-align: center
                &-CountBox
                  margin-top 2px
                  text-align: center
      &-Box
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        @media SP
          margin-top 20px
          display: none
        &-Item
          position: relative
          margin-left: 12px
          width: calc((100% - 12px * 3) / 4)
          height: 63px
          display: flex
          justify-content: center;
          align-items: center;
          letter-spacing: 0.28em
          background: #fff
          color: #53463D
          font-size: 15px
          cursor: pointer
          @media SP
            margin-left 0
            width 100%
            font-size: 13px
          &:nth-child(1)
            margin-left: 0
          &:nth-child(n+2)
            @media SP
              margin-top 12px
          &:nth-child(5)
            margin-left: 0
          &:nth-child(n+5)
            margin-top 12px
          &:before
            content: '';
            position: absolute;
            top: 50%;
            right: 10px;
            background-image: url(../../images/area-arrow-icon.png);
            background-position: center;
            background-size: cover;
            width: 11px;
            height: 3px;
            display: block;
          &-Wrap
            &-TitleBox
              text-align: center
            &-CountBox
              margin-top 2px
              text-align: center
          &-Sub
            position: absolute;
            top: 55px
            width 100%
            z-index: 1
            opacity: 0;
            transition: opacity 0.65s;
            pointer-events: none;
            &.isShow
              opacity: 1;
              transition: opacity 0.65s;
              pointer-events: auto;
            &-Item
              border-bottom: 1px solid #DBDBDB
              width: 100%
              height: 63px
              display: flex
              justify-content: center;
              align-items: center;
              letter-spacing: 0.28em
              background: #F8F8F8
              color: #53463D
              font-size: 15px
              cursor: pointer
              &:last-child
                border-bottom: none
              &:hover
                background: #53463D
                color: #fff
              &-Wrap
                &-TitleBox
                  text-align: center
                &-CountBox
                  margin-top 2px
                  text-align: center

    &-Zone
      margin-top 60px
      @media SP
        margin-top 45px
      &-Headline
        letter-spacing: 0.28em
        line-height: 16px
        color: #51443C
        font-size: 18px
        @media SP
          font-size: 14px
      &-SPBox
        margin-top 20px
        flex-wrap: wrap;
        display: none;
        @media SP
          display: flex
        &-Item
          width 100%
          &:nth-child(n+2)
            margin-top 12px
          &-Tab
            position: relative
            width 100%
            height: 63px
            display: flex
            justify-content: center;
            align-items: center;
            letter-spacing: 0.28em
            background: #fff
            color: #53463D
            cursor: pointer
            font-size: 13px
            &:before
              content: '';
              position: absolute;
              top: 50%;
              right: 10px;
              background-image: url(../../images/area-arrow-icon.png);
              background-position: center;
              background-size: cover;
              width: 11px;
              height: 3px;
              display: block;
            &.isActive
              background: #53463D
              color: #fff
            &.isActive:before
              content: '';
              position: absolute;
              top: 50%;
              right: 10px;
              background-image: url(../../images/area-arrow-icon-active.png);
              background-position: center;
              background-size: cover;
              width: 11px;
              height: 3px;
              display: block;
            &-Wrap
              &-TitleBox
                text-align: center
              &-CountBox
                margin-top 2px
                text-align: center
          &-TabBox
            padding-top 20px
            padding-bottom 20px
            background: #fff
            display: none
            &-List
              margin-left: auto;
              margin-right: auto;
              padding-left: 15.21%;
              padding-right: 15.21%;
              max-width: 646px
              display: flex
              flex-wrap: wrap
              &-Item
                margin-right 25px
                color: #53463D
                font-size: 14px
                &:nth-child(n+2)
                  margin-top 15px
      &-Box
        margin-top: 15px;
        display: flex;
        @media SP
          margin-top 20px
          flex-wrap: wrap;
          display: none
        &-Item
          position: relative
          margin-left: 12px
          width: calc((100% - 12px * 3) / 4)
          height: 63px
          display: flex
          justify-content: center;
          align-items: center;
          letter-spacing: 0.28em
          background: #fff
          color: #53463D
          font-size: 15px
          cursor: pointer
          @media SP
            margin-left 0
            width 100%
            font-size: 13px
          &:nth-child(1)
            margin-left: 0
          &:nth-child(n+2)
            @media SP
              margin-top 12px
          &:before
            content: '';
            position: absolute;
            top: 50%;
            right: 10px;
            background-image: url(../../images/area-arrow-icon.png);
            background-position: center;
            background-size: cover;
            width: 11px;
            height: 3px;
            display: block;
          &.isActive
            background: #53463D
            color: #fff
          &.isActive:before
            content: '';
            position: absolute;
            top: 50%;
            right: 10px;
            background-image: url(../../images/area-arrow-icon-active.png);
            background-position: center;
            background-size: cover;
            width: 11px;
            height: 3px;
            display: block;
          &-Wrap
            &-TitleBox
              text-align: center
            &-CountBox
              margin-top 2px
              text-align: center
      &-TabBox
        margin-top: 15px
        padding-top 20px
        padding-bottom 20px
        background: #fff
        @media SP
          display: none
        &-List
          margin-left: auto;
          margin-right: auto;
          max-width: 646px
          flex-wrap: wrap;
          display: none;
          &.isShow
            display: flex;
          &-Item
            margin-right 25px
            color: #53463D
            font-size: 14px
            &:nth-child(n+8)
              margin-top 25px
/* ---------------------------- */
/* --- StorelistSection --- */
/* ---------------------------- */
.StorelistSection
  margin-top 70px
  margin-left: auto
  margin-right: auto
  padding-top 60px
  padding-bottom 90px
  max-width: 1040px
  width 100%
  background: #FFFAFB
  border-top: 2px solid #52453C
  border-bottom: 2px solid #52453C
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  @media SP
    margin-top 40px
    padding-top 30px
    padding-left: 30px
    padding-right: 30px
    padding-bottom 60px
.Storelist
  &-Inner
    margin-left: auto;
    margin-right: auto;
    max-width: 720px
    &-Headline
      width 100%
      letter-spacing: 0.28em
      color: #938252
      font-size: 53px
      @media SP
        font-size: 30px
    &-HeadlineSub
      position: relative;
      margin-top 16px
      letter-spacing: 0.6em
      color: #D96EA3
      font-size: 14px
      @media SP
        font-size: 12px
      &-Area
        margin-left 30px
        @media SP
          margin-left 12px
    &-Box
      margin-top 60px
      @media SP
        margin-top 45px
      &-Card
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        @media SP
          margin-top 20px
        &-Item
          margin-top 30px
          width: 100%
          display: flex;
          @media SP
            margin-top 40px
            flex-wrap: wrap;
          &:nth-child(1)
            margin-top 0
          &:nth-child(n+2)
            @media SP
              margin-top 40px
          &-ImgBox
            min-width: 330px
            max-width: 330px
            @media SP
              width 100%
              min-width: inherit
            &-Img
              padding-top 74.84%
              width: 100%
              @media SP
                padding-top 74.90%
          &-Info
            margin-left 35px
            padding-top 20px
            padding-right 6px
            flex-grow: 5
            @media SP
              padding-top 16px
              margin-left 0
            &-Title
              line-height: 23px
              word-break: break-all
              color: #5B4F46
              font-size: 17px;
            &-Tag
              margin-top 10px
              display: flex
              flex-wrap: wrap;
              &-Item
                margin-left 12px
                width calc((100% - 12px * 2) / 2 )
                max-width: 168px
                display: flex
                align-items: center;
                &:nth-child(odd)
                  margin-left 0
                &:nth-child(n+3)
                  margin-top 6px
                  @media SP
                    margin-top 10px
                &-Left
                  border-radius: 5px
                  width 62px
                  min-width: 62px
                  height 20px
                  text-align: center;
                  line-height: 20px
                  background: #52453C
                  color: #fff
                  font-size: 12px
                  @media SP
                    width 50px
                    min-width: 50px
                &-Right
                  margin-left 15px
                  max-width: 96px
                  color: #52453C
                  font-size: 14px
                  overflow: hidden
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 1;
                  @media SP
                    margin-left 7px
                    font-size: 13px
            &-Text
              margin-top 20px
              max-width: 360px
              line-height: 19px
              letter-spacing: 0.49em
              word-break: break-all
              color: #52453C
              font-size: 14px;
              overflow: hidden
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 5;
              @media SP
                margin-top 10px
                line-height: 18px
                font-size: 13px
