SP = "screen and (max-width: 540px)"
FOOTER = "screen and (max-width: 845px)"
MERIT = "screen and (max-width: 911px)"
REGISTER = "screen and (max-width: 970px)"
SALARY = "screen and (max-width: 1090px)"
SALARY975 = "screen and (max-width: 975px)"
ABOUT = "screen and (max-width: 1022px)"
EXPERIENCE = "screen and (max-width: 1036px)"
QA = "screen and (max-width: 1096px)"
HEADER = "screen and (max-width: 1436px)"
ROOKIE = "screen and (max-width: 1158px)"
ROOKIE1382 = "screen and (max-width: 1382px)"
STAFF1060 = "screen and (max-width: 1060px)"
base-color = #FEEFF2
sub-color = #52453C
border-color = #FC78B6
@font-face {
  font-family: 'aamono';
  src: url('../../font/Aamonoline.ttf') format('truetype');
}
@font-face {
  font-family: 'din';
  src: url('../../font/din1451alt.ttf') format('truetype');
}
@font-face {
  font-family: 'bodoni';
  src: url('../../font/BodoniOldFaceBESmallCapsRegular.otf') format('truetype');
}
