/* ---------------------------- */
/* --- BorderLayer --- */
/* ---------------------------- */
.BorderLayer
  width: 100%
  height 5px
  background sub-color
  @media SP
    height: 2px
/* ---------------------------- */
/* --- FooterSection --- */
/* ---------------------------- */
.FooterSection
  position: relative;
  background: #fff;
  @media ROOKIE
    padding-left 24px
    padding-right 24px
    padding-bottom 20px
  @media SP
    padding-bottom 54px
.Footer
  padding-top: 60px;
  padding-bottom: 60px;
  @media SP
    padding-top 28px
    padding-bottom 28px
  &-Inner
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    &-List
      display: flex
      @media SP
        flex-wrap: wrap
      &-Item
        margin-left 0
        width: calc((100% - 30px * 3) / 4)
        &:nth-child(1)
          border-right: 1px solid #959595
          display: flex
          justify-content: center
          align-items: center
          @media SP
            border-right: none
            width 100%
        &:nth-child(2)
          border-right: 1px solid #959595
          margin-left 30px
          @media SP
            display: none
        &:nth-child(3)
          border-right: 1px solid #959595
          margin-left 30px
          @media SP
            border-right: none
            margin-left 0
        &:nth-child(4)
          margin-left 30px
          @media SP
            margin-left 0
        &.flex
          @media SP
            margin-top 30px
            margin-left: auto
            margin-right: auto
            display: flex
            flex-wrap: wrap
            max-width: 227px
            width 100%
        &.onecolumn
          @media SP
            margin-top 24px
            display: flex
            flex-wrap: wrap
            width 100%
            text-align: center
        &-ImgBox
          max-width: 208px
          @media FOOTER
            max-width: 126px
        &-Text
          letter-spacing: 0.1em
          color: #959595
          font-weight: bold
          font-size: 14px
          @media SP
            color: #52453C
            font-size: 12px
          &.w100
            @media SP
              width 100%
              text-align: center
          &.w25
            @media SP
              width 25%
              text-align: center
          &:nth-child(n+2)
            margin-top 25px
            @media SP
              margin-top 12px
          &.mt20
            @media SP
              margin-top 20px
          &.tl
            @media SP
              text-align: left
          &.tc
            @media SP
              text-align: center
          &-Link
            &:hover
              cursor: pointer
            &-Span
              display: none
              @media SP
                display: inline-block
          &-LinkBtn
            position: relative
            border: 1px solid #707070
            width: 175px
            height: 45px
            line-height: 45px
            text-align: center
            @media FOOTER
              width: 100%
            @media SP
              display: none
            &:hover
              cursor: pointer
            &::after
              position: absolute
              top: 50%
              right: 16px
              transform: translate(-50%, -50%);
              content: ''
              width: 6px
              height: 12px
              background: url('../../images/footer-arrow.png')
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
      &-Action
        display: none
        @media SP
          margin-top: 16px
          display: flex
          width 100%
        &-Right
          border-radius: 8px
          width: calc((100% - 10px) / 2)
          height: 42px
          display: flex
          justify-content: center
          align-items: center
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16)
          background: #E91B7B
          &-Box
            display: flex
            flex-wrap: nowrap
            align-items: center
            &-IconBox
              margin-right 8px
              max-width: 24px
            &-Text
              line-height: 1.5
              letter-spacing: 0.1em
              text-align: center
              color: #fff
              font-size: 12px
        &-Left
          border-radius: 8px
          margin-left: 10px
          width: calc((100% - 10px) / 2)
          height: 42px
          display: flex
          justify-content: center
          align-items: center
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16)
          background: #00B215
          &-Box
            display: flex
            flex-wrap: nowrap
            align-items: center
            &-IconBox
              margin-right 8px
              max-width: 24px
            &-Text
              line-height: 1.5
              letter-spacing: 0.1em
              text-align: center
              color: #fff
              font-size: 12px
/* ---------------------------- */
/* --- CTASection --- */
/* ---------------------------- */
.CTASection
  position: fixed;
  left: 0
  bottom: 0
  width 100%
  padding-left 8px
  padding-right 8px
  padding-top 14px
  padding-bottom 14px
  background: #fff;
  display: none;
  border-top: 1px solid #eee
  z-index: 10
  @media SP
    display: block;
.CTA
  &-Inner
    margin-left: auto;
    margin-right: auto;
    &-List
      display: flex
      @media SP
        flex-wrap: wrap
      &-Item
        display: flex
        width 100%
        &-Right
          border-radius: 8px
          width: calc((100% - 16px) / 3)
          height: 42px
          display: flex
          justify-content: center
          align-items: center
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16)
          background: #E91B7B
          &-Box
            display: flex
            flex-wrap: nowrap
            align-items: center
            &-IconBox
              margin-right 8px
              max-width: 24px
            &-Text
              text-align: center
              color: #fff
              font-size: 12px
        &-Center
          border-radius: 8px
          margin-left 8px
          width: calc((100% - 16px) / 3)
          height: 42px
          display: flex
          justify-content: center
          align-items: center
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16)
          background: #E91B7B
          &-Box
            display: flex
            flex-wrap: nowrap
            align-items: center
            &-IconBox
              margin-right 8px
              max-width: 24px
            &-Text
              text-align: center
              color: #fff
              font-size: 12px
        &-Left
          border-radius: 8px
          margin-left: 8px
          width: calc((100% - 16px) / 3)
          height: 42px
          display: flex
          justify-content: center
          align-items: center
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16)
          background: #00B215
          &-Box
            display: flex
            flex-wrap: nowrap
            align-items: center
            &-IconBox
              margin-right 8px
              max-width: 24px
            &-Text
              text-align: center
              color: #fff
              font-size: 12px
/* ---------------------------- */
/* --- CopyRIghtLayer --- */
/* ---------------------------- */
.CopyRightLayer
  width: 100%
  height 40px
  line-height: 40px
  text-align: center;
  background sub-color
  color: #fff
  font-family: "Hiragino Kaku Gothic ProN"
  font-size: 13px
