/* ---------------------------- */
/* --- HeaderLayer --- */
/* ---------------------------- */
.HeaderLayer
  position: fixed
  top: 44px
  width: 100%
  padding-left 24px
  padding-right 24px
  z-index: 100000
  @media SP
    top: 0
    padding-left: 0
    padding-right: 0
.Header
  width: 100%
  &-Inner
    &-Info
      padding-top: 4px;
      padding-bottom: 4px;
      text-align: center;
      background: #feeff2;
      color: #e91b7b;
      font-size: 14px;
    &-Content
      display: flex
      flex-wrap: nowrap
      &-Left
        flex: 1
        display: flex
        flex-wrap: nowrap
        align-items: center
        border-radius: 8px
        padding-left 20px
        padding-right 30px
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16)
        background: #fff
        @media SP
          border-radius: 0
          padding-top 20px
          padding-bottom 20px
          padding-left 24px
          padding-right 24px
        &-ImgBox
          padding-top 11px
          padding-bottom 11px
          max-width: 137px
          @media SP
            padding-top 0
            padding-bottom 0
            max-width: 123px
        &-ItemMain
          margin-left 30px
          padding-left 45px
          border-right: 1px solid #C3C3C3
          padding-top 11px
          padding-bottom 11px
          display: flex
          flex-wrap: nowrap
          @media HEADER
            margin-left 20px
            padding-left 20px
          @media SP
            display: none
          &-Item
            padding-right 30px
            font-size: 14px
            @media HEADER
              padding-right 20px
              font-size: 12px
        &-Hm
          display: none
          margin-left: auto
          @media SP
            display: block
          &-Link
            position: relative
            width: 28px
            height: 24px
            z-index: 100002
            &-Span
              position: absolute
              left: 0
              width: 100%
              height: 2px
              background: #51443B
              &:nth-child(1)
                top: 0
              &:nth-child(2)
                top: 10px
              &:nth-child(3)
                bottom: 0
        &-ItemSub
          margin-left 30px
          display: flex
          flex-wrap: nowrap
          @media HEADER
            margin-left 20px
          @media SP
            display: none
          &-Item
            letter-spacing: 0.3em
            font-size: 14px
            @media HEADER
              font-size: 12px
            &:nth-child(1)
              padding-right 30px
              @media HEADER
                padding-right 20px
      &-Right
        margin-left: 6px
        border-radius: 8px
        width: 207px
        height: 80px
        display: flex
        justify-content: center
        align-items: center
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16)
        background: #DA75A7
        @media HEADER
          width: 168px
        @media SP
          display: none
        &:hover
          cursor: pointer
        &-Box
          display: flex
          flex-wrap: nowrap
          align-items: center
          &-IconBox
            margin-right 8px
            max-width: 30px
          &-Text
            line-height: 1.8
            letter-spacing: 0.1em
            color: #fff
            font-size: 12px
/* ---------------------------- */
/* --- InfoSection --- */
/* ---------------------------- */
.Info
  &-Inner
    padding-left 24px
    padding-right 24px
    padding-top 10px
    padding-bottom 10px
    width 100%
    &-Text
      text-align: right;
      color: #e91b7b
      font-size: 14px
