/* ---------------------------- */
/* --- MenuLayer --- */
/* ---------------------------- */
.MenuLayer
  position: fixed;
  top: 0;
  transition: opacity 0.65s;
  width: 100%;
  height: 100vh;
  background: #FEEFF2
  z-index: 100001;
  &.isShow
    opacity: 1;
    transition: opacity 0.65s;
    pointer-events: auto;
  &.isHidden
    opacity: 0;
    pointer-events: none;
.Menu
  width: 100%
  height: 100%
  &-Head
    padding-left: 24px
    padding-right: 24px
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex
    align-items: center
    background: #fff
    &-Head
      &-ImgBox
        max-width: 123px
    &-MenuIcon
      position: relative
      margin-left auto
      width: 28px
      height: 21px
      &-Span
        position: absolute
        left: 0
        width: 100%
        height: 1px
        background: #51443b
        &:nth-child(1)
          top: 0
          -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
        &:nth-child(2)
          opacity: 0
        &:nth-child(3)
          bottom: 0
          -webkit-transform: translateY(-10px) rotate(45deg);
          transform: translateY(-10px) rotate(45deg);
  &-Inner
    padding-top 20px
    padding-left 24px
    padding-right 24px
    height: 100%
    &-List
      margin-top 24px
      width: 100%
      padding-top: 14px;
      padding-bottom: 14px;
      &-Item
        border-bottom: 1px solid #52453C;
        padding-left 20px
        padding-right 20px
        padding-bottom: 20px;
        display: flex
        align-items: center
        cursor: pointer
        font-weight: bold
        font-size: 14px
        color: #52453C
        &:nth-child(n+2)
          margin-top 20px
        &:after
          display: inline-block;
          margin-left: auto;
          content: '';
          width: 6px;
          height: 12px;
          background: url(../../images/menu-arrow.png) no-repeat;
          background-size: contain;
          vertical-align: middle;
    &-Action
      @media SP
        margin-top: 40px
        display: flex
        flex-wrap: wrap
        width 100%
      &-Right
        border-radius: 8px
        width: calc((100% - 10px) / 2)
        height: 42px
        display: flex
        justify-content: center
        align-items: center
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16)
        background: #E91B7B
        &-Box
          display: flex
          flex-wrap: nowrap
          align-items: center
          &-IconBox
            margin-right 8px
            max-width: 24px
          &-Text
            line-height: 1.5
            letter-spacing: 0.1em
            text-align: center
            color: #fff
            font-size: 12px
      &-Left
        border-radius: 8px
        margin-left: 10px
        width: calc((100% - 10px) / 2)
        height: 42px
        display: flex
        justify-content: center
        align-items: center
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16)
        background: #00B215
        &.tel
          margin-top 10px
          margin-left auto
          margin-right: auto
          background: #e91b7b;
        &-Box
          display: flex
          flex-wrap: nowrap
          align-items: center
          &-IconBox
            margin-right 8px
            max-width: 24px
          &-Text
            line-height: 1.5
            letter-spacing: 0.1em
            text-align: center
            color: #fff
            font-size: 12px
    &-LoginAction
      margin-top: 25px
      margin-left: auto
      max-width: 156px
      text-align: right
      font-size: 14px
      &:after
        content: ''
        display: block
        margin-top 6px
        width: 100%
        height: 1px
        background: #52453C
