*{
	font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
	box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
	height: 100%;
  font-size: 62.5%;
}
body {
	min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  letter-spacing: -0.05em;
}
a {
  display: block;
  color: inherit;
  text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

input[type="text"], input[type="email"], textarea {
  outline: none;
  -webkit-appearance: none;
}

input[type="submit"], input[type="button"] {
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

select{
	border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.wrap{
	margin-left: auto;
	margin-right: auto;
  max-width: 1080px;
}

.pc{ display: block!important; }
.sp{ display: none!important; }
.lesson1382{ display: none!important; }

.oswaldRegular{
	font-family: oswald,sans-serif;
	font-weight: 400;
	font-style: normal;
}

.oswaldBold{
	font-family: oswald,sans-serif;
	font-weight: 700;
	font-style: normal;
}

.notosansRegular{
	font-family: noto-sans,sans-serif;
	font-weight: 400;
	font-style: normal;
}

.notosansMedium{
	font-family: noto-sans,sans-serif;
	font-weight: 500;
	font-style: normal;
}

.notosansSemiBold{
	font-family: noto-sans,sans-serif;
	font-weight: 600;
	font-style: normal;
}

.notosansBold{
	font-family: noto-sans,sans-serif;
	font-weight: 700;
	font-style: normal;
}

.notosansExtraBold{
	font-family: noto-sans,sans-serif;
	font-weight: 800;
	font-style: normal;
}

.opensansLight{
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
}
.opensansBold{
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.BodyLayer{
	position: relative;
}

@media screen and (max-width: 1382px) {

	.lesson1382{
		display: block!important;
	}

}

@media screen and (max-width: 768px) {
  .wrap{
		/* padding-left: 14px;
		padding-right: 14px; */
  	width: 100%;
  }

  .pc{ display: none!important; }
	.sp{ display: block!important; }

	.lesson1382{
		display: none!important;
	}

}
/* ---------------------------- */
/* --- footer --- */
/* ---------------------------- */
/* footer p,
footer li,
footer h2,
footer div {
  line-height: 1.5;
  letter-spacing: -0.05em;
} */
